<style type="text/css"> 
<!-- 
a:link {
	color:green;
}
a:visited {
	color:green
}
a:hover {
	color:#F96A02;
}
a:active {
	color:#D64700
}
form {	
	margin: 0;
	padding: 0;
}

div.fieldset {
	border:  1px solid #999;
	margin:0 auto; 
	width: 650px;
	padding: 20px 10px;
	margin-top:30px;
}
div.fieldset span.legend {
	position: relative;
	background-color: #FFF;
	font-size:14px;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #666;
}
div.install {
	border:  1px solid #999;
	margin:0 auto; 
	width: 500px;
	padding: 20px 10px;
}
div.install span.legend {
	position: relative;
	background-color: #FFF;
	font-size:14px;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #666;
}
.footer{
	margin:0 auto; 
	width: 500px;
	padding-top: 10px;
	text-align:center;
	font-size:12px;
	}
ul{font-size:14px;

}
ul li{
	line-height: 18px;
    height: 18px;
	}
input{ 
	border-width: 1px; 
	margin-bottom: 10px;
	padding: 2px 3px;
	color:#999;
}



input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */


label { 
	width: 230px; 
	text-align: right; 
	display:block;
	margin-right: 5px;
}

#dosubmit { margin: 0 0 0 300px ; }

/* -- Table Styles ------------------------------- */
td {
	font: 10pt Helvetica, Arial, sans-serif;
	vertical-align: top;
}
/*表单验证*/
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;color:#555;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{border-color:#40B3FF;color:#959595}
.onFocus{border-color:#40B3FF;}
.onError{border-color:#40B3FF; color:red}
.onCorrect{border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}

.onError{
    background:url(./images/onError.gif) no-repeat 0 center;
	padding-left:25px;
}
.onCorrect{
    background:url(./images/onCorrect.gif) no-repeat 0 center;
	padding-left:25px;
}
.onFocus{
    background:url(./images/onFocus.gif) no-repeat 0 center;
	padding-left:25px;
}
.onShow{
    background:url(./images/onShow.gif) no-repeat 0 center;
	padding-left:25px;
}
--> 
</style> 