body {
 scrollbar-base-color:#bae87c;
 scrollbar-arrow-color:#FFFFFF;
 scrollbar-shadow-color:#c1ea8b;
 padding:0px;
 margin:auto;
 text-align:center;
 background-color:#F9FBF5;
}
td {font-size: 12px;}
.title{width:200px;line-height:25px;border:#ccc solid 1px;cursor:pointer; margin-bottom:5px;FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECECEC', endColorstr='#ffffff');/*ie*/
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f8f9fb), to(#f8f9fb));/*Safari */
	background:-moz-linear-gradient(top, #EEEEEE, #f8f9fb);/*Firefox*/
	/*background:url(./images/bbb.png) no-repeat;*/
}
.item,.item1,.item2{width:200px;line-height:20px;border-top:#ccc solid
1px;}

.flrct
{
	padding-top:3px;
	float:left;
	background:url(./images/bbb.png) no-repeat;
}
.item1 li,.item2 li,.item li {
	padding:0px 0px 0px 22px;
	line-height:24px;
	background:url(./images/arr4.gif) no-repeat 65px 9px;
	list-style:none;
	text-align:center;
}
.item1 li:hover,.item2 li:hover,.item li:hover{
	
	background:#f5f5dc url(./images/enter.gif) no-repeat 65px 9px;
	list-style:none;
	}

items
{
	padding:5px 0px 5px 22px;
	line-height:22px;
	background:url(./images/arr4.gif) no-repeat 10px 12px;
	
	display: block;
	
}

/*------------------------------------------------------------------------------*/
* {
	font-size: 12px;
	font-family: "宋体";
}



b,strong {
	color:#666;
}

h1 { color:#171B16; font-size:130%; font-weight:bold; }
h2 { color:#171B16; font-size:115%; font-weight:bold; }
h3 { color:#171B16; font-size:100%; font-weight:bold;}

a:link { font-size: 10pt; color: #666; text-decoration: none; font-family: ""宋体""; }
a:visited{ font-size: 10pt; color: #666; text-decoration: none; font-family: ""宋体""; }
a:hover {color: #F60; font-family: ""宋体"";}
a img { border-style:none; }

b a {
	color:#666600;
}
strong a {
	color:#666600;
}

a b{
	color:#666600;
}
a strong{
	color:#666600;
}