html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
} /* Hide from IE Mac \*/.clearfix {
	display: block;
} /* End hide from IE Mac */.none {
	display: none;
} /* End Clearfix */


@font-face {
	font-family: 'doublevregular';
    src: url('fonts/doublev-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

body,
input,
textarea {
	font-family: 'doublevregular',"Microsoft Yahei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #444;
}


//body {
	background: url(../images/furley_bg_smll.jpg)
}

body {
	background: url(../images/bg-body2.png)
}

#content {
	padding: 0 15px 0 15px;
	width: 1000px;
	margin: 0 auto 75px auto;
}

#primary {
	float: right;
	width: 580px;
	background: url(../images/bg-content-middle.png) repeat-y;
	padding: 20px 55px 0 55px;
}

#sidebar {
	float: left;
	width: 260px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	padding: 15px 0 0 0;
}

.layout-2cl #sidebar {
	float: left;
}

.layout-2cl #content-wrap {
	float: right;
}

.layout-2cr #sidebar {
	float: right;
}

.layout-2cr #content-wrap {
	float: left;
}

#footer {
	clear: both;
	padding: 15px 0 0 0;
}

.rounded {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.hidden {
	display: none
}

.inner {
	height: 43px;
	padding: 0 15px 0 15px;
	width: 1000px;
	margin: 0 auto;
}

.alignleft {
	float: left
}

.alignright {
	float: right
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

.clear {
	clear: both
}

#top-nav {
	width: 500px;
	float: right;
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form,
.gallery-row {
	margin-bottom: 20px;
}

.navigation-links {
	margin-bottom: 40px
}

.widget .children,
.entry-content ol ol,
.entry-content ul ul,
.widget ul ul {
	margin-bottom: 0
}

.entry-content p {
	text-indent: 2em;
	line-height: 2em;
   /* 21px */
    /*margin-bottom: 22px;*/
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 13px
}

.pinglist {
	margin-bottom: 75px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal
}

h1 {
	font-size: 24px;
	line-height: 28px;
	padding: 5px 0px;
}

h2 {
	font-size: 20px;
	line-height: 22px;
	padding: 5px 0px;
}

h3 {
	font-size: 16px;
	line-height: 20px;
	padding: 5px 0px;
}

h4 {
	font-size: 14px;
	line-height: 18px;
	padding: 5px 0px;
}

h5 {
	font-size: 12px;
	line-height: 18px;
	padding: 5px 0px;
}

h6 {
	font-size: 10px;
	line-height: 16px;
}

a {
	color: #a0410d;
	text-decoration: none;
	outline: 0;
}

a:hover {
	color: #444
}

a img {
	border: none
}

.entry-content a {
	border-bottom: 1px dotted #ccc
}

.page-title {
	font-size: 14px;
	font-family: 'doublevregular',"Microsoft YaHei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
	font-style: italic;
	color: #999;
	padding: 0;
	margin-bottom: 20px;
}

.page h1.entry-title {
	margin-bottom: 20px
}

.entry-content h2,
.entry-content h3 {
	text-transform: uppercase;
	border-bottom: 3px double #ebebeb;
	padding: 30px 0 5px 0;
	margin: 0 0 20px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	font-family: 'doublevregular',"Microsoft YaHei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
	font-size: 26px;
	line-height: 32px;
}


/*-----------------------------------------------------------------------------------*/
/*	2.	Header Styles
/*-----------------------------------------------------------------------------------*/

#header {
	padding: 7px 2px 0px 2px;
	height: 43px;
	background: url(../images/bg-header2.png) right top repeat-x;
	margin-bottom: 20px;
	color: #cacbc6;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	font-size: 13px;
}

#header1 {
	height: 28px;
	padding-top: 7px;
	background: url(../images/broken_noise.jpg) left top repeat-x;
	margin-bottom: 60px;
	color: #CACBC6;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 13px;
	box-shadow: 0px 0px 10px 5px rgba( 0, 0, 0, 0.6 );
}

#header a {
	color: #cacbc6
}

#header a:hover {
	color: #f4f4f4
}

p.welcome-message {
	width: 500px;
	float: left;
}

#logo {
	display: block;
	width: 260px;
	margin-bottom: 30px;
}

.logo-link {
	display: block;
	width: 190px;
	height: 190px;
	background: url(../images/logo.png);
	margin-left: 35px
}

.logo-link span.hover {
	display: block;
	width: 190px;
	height: 190px;
	background: url(../images/logo2.png);
}

#logo h1 {
	padding: 0;
	margin: 0;
}

#logo.download {
	display: block;
	text-indent: -9999px;
	background: url(../images/logo.png) center top no-repeat;
	height: 190px;
	width: 260px;
}


/*-----------------------------------------------------------------------------------*/
/*	3.	Navigation & Menus
/*-----------------------------------------------------------------------------------*/

#top-nav ul {
	float: right;
	list-style-type: none;
	margin: 1px;
}

#top-nav li {
	cursor: pointer;
	float: right;
	display: block;
	padding: 0 10px;
	background: url(../images/bg-header-sep.gif) right center no-repeat;
}

#top-nav li:last-child {
	background: none;
	padding: 0 0 0 10px;
}

#top-nav ul a {
	display: block;
	position: relative;
}

#top-nav ul li {
	float: left;
	position: relative;
	z-index: 40;
}

#top-nav ul li:hover {
	visibility: inherit;
 /* fixes IE7 'sticky bug' */
}

#top-nav ul ul {
	position: absolute;
	top: -9999em;
	width: 180px;
 /* left offset of submenus need to match (see below) */
}

#top-nav ul ul li {
	width: 100%;
}

/*  Make sub menus appear */
#top-nav ul li:hover ul,
#top-nav ul li.sfHover ul {
	left: -1px;
	top: 36px;
 /* match top ul list item height */
	z-index: 99;
}

/* Hide all subs subs (4 levels deep) */
#top-nav ul li:hover li ul,
#top-nav ul li.sfHover li ul,
#top-nav ul li li:hover li ul,
#top-nav ul li li.sfHover li ul,
#top-nav ul li li li:hover li ul,
#top-nav ul li li li.sfHover li ul {
	top: -9999em;
}

/* Displays all subs subs (4 levels deep) */
#top-nav ul li li:hover ul,
#top-nav ul li li.sfHover ul,
#top-nav ul li li li:hover ul,
#top-nav ul li li li.sfHover ul,
#top-nav ul li li li li:hover ul,
#top-nav ul li li li li.sfHover ul {
	left: 180px;
 /* match .nav ul width */
	top: -1px;
}
	
/* top level skin */

#top-nav ul a:hover,
#top-nav ul li.current-cat a,
#top-nav ul li.current_page_item a,
#top-nav ul li.current-menu-item a {
	color: #fff;
}

/* 2nd level skin */
#top-nav ul ul {
	background: url(../images/nav_dropdown_bg.png) repeat;
	padding: 5px 15px 20px 15px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.7);
	box-shadow: 0 1px 1px rgba(0,0,0,0.7);
	margin: -8px 0 0 0;
	width: 110px;
}

#top-nav ul ul li {
	background: none;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #0a0b0b;
	border-top: 1px solid #2a2e2f;
}

#top-nav ul ul li:first-child {
	padding-top: 0 0 5px 0;
	border-top: none;
}

#top-nav ul ul li:last-child {
	padding: 5px 0 0 0;
	border-bottom: none;
}

#top-nav ul ul li a {
	color: #cacbc6;
}

/* 3rd level skin */
#top-nav ul ul ul {
	margin: -4px 0 0 -55px;
	-moz-border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
	border-radius: 0 3px 3px 3px;
}


/*-----------------------------------------------------------------------------------*/
/*	4.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

#content-wrap {
	float: left;
	width: 690px;
}

#content-top {
	background: url(../images/bg-content-top.png) no-repeat;
	height: 40px;
	overflow: hidden;
	float: right;
	width: 690px;
}

#content-btm {
	background: url(../images/bg-content-btm.png) no-repeat;
	height: 40px;
	overflow: hidden;
	float: right;
	width: 690px;
}

.entry-title,
.entry-title a {
	font-size: 20px;
	line-height: 44px;
	letter-spacing: -0.5px;
	color: #333;
	text-shadow: #333 0px 0px 1px;
	font-family: "Microsoft JhengHei","Microsoft YaHei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
	white-space: nowrap;
	position: relative;
}

.entry-title a:hover {
	color: #a0410d;
	color: #a0410d!important
}

.entry-title {
	border-bottom: 3px double #ebebeb;
	padding: 5px 0;
	margin-bottom: 8px;
}

/* -- Forms -- */

input,
textarea,
button {
	background: #fff;
	border: 1px solid #efefef;
}

input,
textarea,
button {
	padding: 7px
}

button {
	padding: 2px 10px;
	cursor: pointer;
}

input:focus,
textarea:focus,
button:hover {
	background: #fff;
	border-color: #ddd;
}

#submit {
	cursor: pointer
}


/*-----------------------------------------------------------------------------------*/
/*	5.	Post Content Styles
/*-----------------------------------------------------------------------------------*/

.entry-meta {
	font-size: 12px;
	color: #777;
	margin-bottom: 15px;
}

.entry-meta span {
	font-family: 'doublevregular',"Microsoft YaHei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
	color: #aaa;
	line-height: 13px;
	display: inline-block;
	height: 16px;
	padding-left: 18px;
	margin-right: 16px;
	-webkit-transition-duration: 0.3s, 0.3s;
	-moz-transition-duration: 0.3s, 0.3s;
	-o-transition-duration: 0.3s, 0.3s;
}

.entry-meta a {
	color: #aaa;
}

.entry-meta a:hover {
	color: #444
}
/*
.entry-footer {
    border-top: 3px double #ebebeb;
    padding: 5px 0 0 0;
}
*/

.post-lead {
	margin-bottom: 15px
}

.post-lead img {
	background: #fcfcfc;
	padding: 4px;
	border: 1px solid #c8c8c2;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.post-lead img:hover {
	background: #9cd1e1;
	border-color: #38a1e5;
}

.single .post-lead img:hover {
	background: #fcfcfc;
	border-color: #c8c8c2;
}

.twitter-share-button {
	display: block;
	float: right;
	margin-right: -18px;
}

.hentry {
	background: url(../images/bg-diag.png) left bottom repeat-x;
	padding: 0 0 30px 0;
	margin-bottom: 40px;
}

.single .hentry,
.page .hentry {
	background: none;
	margin-bottom: 10px;
}

.single .entry-content {
	margin-bottom: 40px;
	font-family: 'doublevregular',"Microsoft Yahei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
}

.entry-content ol li,.entry-content ul li {
	line-height: 2em;
}

address {
	font-style: italic
}

abbr[title],
acronym[title],
dfn[title] {
	cursor: help;
	border-bottom: 1px dotted #666;
}

blockquote {
	margin: 0 0 1em 0;
	padding: 35px 20px 30px 20px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: url(/img/quote1.gif) no-repeat 10px 10px,url(/img/quote2.gif) no-repeat bottom right;
	background-color: white;
}

blockquote p {
	margin-bottom: 5px;
}

strong {
	font-weight: bold
}

em,
dfn,
cite {
	font-style: italic
}

dfn {
	font-weight: bold
}

sup {
	font-size: 11px;
	vertical-align: top;
}

sub {
	font-size: 11px;
	vertical-align: bottom;
}

small {
	font-size: 11px
}

del {
	text-decoration: line-through
}

ins {
	text-decoration: underline
}

code,
pre {
	line-height: 18px
}

var,
kbd,
samp,
code,
pre {
	font: 12px/18px Consolas, "Andale Mono", Courier, "Courier New", monospace;
	background: #efefef;
}

kbd {
	font-weight: bold
}

samp,
var {
	font-style: italic
}

pre {
	white-space: pre;
	overflow: auto;
	padding: 10px;
	border: 1px solid #ddd;
	clear: both;
}

code {
	padding: 3px
}

ul,
ol,
dl {
	margin-left: 30px
}

table {
	border: 1px solid #ccc;
	border-width: 1px;
	line-height: 18px;
	margin: 0 0 22px 0;
	text-align: left;
	padding: 0 5px;
}

table .even {
	background: #ddd
}

caption {
	text-align: left
}

tr {
	border-bottom: 1px solid #ccc
}

th,
td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}

img.alignleft {
	float: left;
	margin: 5px 20px 10px 0;
	padding: 3px;
	background: #fcfcfc;
	border: 1px solid #c8c8c2;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

img.alignright {
	margin: 5px 0 10px 20px;
	padding: 3px;
	background: #fcfcfc;
	border: 1px solid #c8c8c2;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

img.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 3px;
	background: #fcfcfc;
	border: 1px solid #c8c8c2;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

.wp-caption p {
	margin-bottom: 5px;
}

.wp-smiley {
	max-height: 16px;
	margin: 0 !important;
}

.gallery {
	margin: auto
}

.gallery-image {
	border: 2px solid #efefef;
	margin-left: 0;
}

.gallery-caption {
	margin-left: 0
}

.gallery-item {
	float: left;
	text-align: center;
	margin-left: 0;
}

.gallery-columns-2 {
	width: 50%
}

.gallery-columns-3 {
	width: 33%
}

.gallery-columns-4 {
	width: 25%
}

.gallery-columns-5 {
	width: 20%
}

.gallery-columns-6 {
	width: 16%
}

.gallery-columns-7 {
	width: 14%
}

.gallery-columns-8 {
	width: 12%
}

.gallery-columns-9 {
	width: 11%
}

.author-bio {
	width: 660px;
	padding: 1px 0;
	margin: 0 0 50px -40px;
	border-top: 1px solid #dbdad7;
	border-bottom: 1px solid #dbdad7;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}

.author-inner {
	background: url(../images/bg-author.gif) repeat-y;
	padding: 30px 25px;
}

.author-bio .avatar {
	float: left;
	margin: 0 20px 0 10px;
	padding: 3px;
	background: #fff;
	border: 1px solid #c1c0bc;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.author-info {
	float: left;
	width: 450px;
	margin-right: 20px;
}

.author-title {
	font-weight: bold;
	margin-bottom: 4px;
}

.author-where ul {
	margin: 0;
	list-style-type: none;
}

#single-tags {
	text-align: left;
}


/*-----------------------------------------------------------------------------------*/
/*	6.	Comments
/*-----------------------------------------------------------------------------------*/

h3#comments {
	text-transform: uppercase;
	border-bottom: 3px double #ebebeb;
	padding: 15px 0;
	margin-bottom: 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	font-family: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 20px;
	line-height: 27px;
}

h3#pings {
	text-transform: uppercase;
	border-bottom: 3px double #ebebeb;
	padding: 15px 0;
	margin-bottom: 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	font-family: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 26px;
	line-height: 32px;
}

ol.commentlist {
	margin: 30px 0 75px 0;
	list-style-type: none;
}

li.comment {
	margin: 0 0 20px 0;
	background: url(../images/bg-diag-pat.png) left bottom repeat-x;
	padding-bottom: 6px;
}

li.comment .comment-body {
	margin: 0 0 0 75px;
	position: relative;
	min-height: 70px;
	padding-bottom: 10px;
}

li.comment .comment-meta {
	overflow: hidden;
	float: left;
	display: block;
	width: 50%;
}

li.comment .comment-text {
	padding-bottom: 1px
}

.comment .avatar {
	position: absolute;
	left: -75px;
	padding: 2px;
	background: #fcfcfc;
	border: 1px solid #c8c8c2;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

li.comment p {
	clear: both;
	margin-bottom: 15px;
}

li.comment cite {
	font-weight: bold;
	font-style: normal;
	margin: 0 8px 0 0;
	float: left;
}

li.comment cite a {
	color: #444;
	background: url(../images/bg-cite.png) right 6px no-repeat;
	padding-right: 10px;
}

li.comment cite a:hover {
	text-decoration: none;
	color: #A0410D;
}

.commentmetadata,
.commentmetadata a {
	font-size: 12px;
	text-transform: uppercase;
	color: #aaa;
}

.commentmetadata a:hover {
	color: #777
}

.says {
	display: none
}

.comment-meta {
	margin: 0 0 5px;
	line-height: 22px;
	position: relative;
}

li.comment .comment-body a.comment-reply-link {
	display: block;
	position: absolute;
	right: 0;
	top: 0px;
	color: #aaa;
	padding: 0 10px 0 0;
	font-size: 12px;
}

li.comment .comment-body a.comment-reply-link:hover {
	color: #777
}

.moderation {
	font-size: 11px;
	font-style: italic;
	color: #c88865;
}

ul.children {
	list-style-type: none;
	margin: 0 0 0 75px;
}

ul.children li.comment {
	background: none;
	border-top: 1px solid #ebebeb;
	padding: 15px 0 0 0;
	margin: 0;
}

ul.children .avatar {
	width: 30px;
	height: 30px;
	left: -50px;
}

ul.children li.comment .comment-body {
	margin: 0 0 0 50px
}

/* -- Respond --*/

#respond h3 {
	text-transform: uppercase;
	border-bottom: 3px double #ebebeb;
	padding: 15px 0;
	margin-bottom: 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	font-family: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 26px;
	line-height: 32px;
}

#commentform {
	padding-top: 20px;
	margin-bottom: 50px;
}

#commentform p {
	margin-bottom: 15px
}

#commentform input[type=text],
#commentform textarea {
	border: 1px solid #ddd;
	background: #fcfcfc;
	-moz-box-shadow: 1px 1px 4px #F4F4F4 inset;
	-webkit-box-shadow: 1px 1px 4px #F4F4F4 inset;
	box-shadow: 1px 1px 4px #F4F4F4 inset;
}

#commentform input[type=text] {
	margin-right: 10px;
	padding: 7px;
	border: 1px solid #ddd;
	width: 180px;
}

#commentform textarea {
	width: 95%;
	height: 150px;
	padding: 7px;
	border: 1px solid #ddd;
}

#commentform input:focus,
#commentform textarea:focus {
	border-color: #c0c0c0
}

#commentform #submit {
	display: block;
	padding: 0;
	margin: 0;
	border: none;
	height: 66px;
	width: 190px;
	background: url(../images/bg-btn-comment.png) no-repeat;
	text-indent: -9999px;
}

#commentform #submit:hover {
	background-position: -200px top
}


/*-----------------------------------------------------------------------------------*/
/*	7.	Pagination
/*-----------------------------------------------------------------------------------*/

.page-navigation .nav-next {
	float: left
}

.page-navigation .nav-previous {
	float: right
}

.single-page-navigation .nav-next {
	float: right
}

.single-page-navigation .nav-previous {
	float: left
}

.single-page-navigation .nav-previous a {
	display: block;
	background: url(../images/preview_post.png) no-repeat left center;
	line-height: 140%;
	padding: 8px 0 10px 40px;
}

.single-page-navigation .nav-next a {
	display: block;
	background: url(../images/next_post.png) no-repeat right center;
	line-height: 140%;
	padding: 8px 40px 10px 0;
}

.single-page-navigation,
.page-navigation {
	margin-bottom: 40px;
	text-align: center;
	margin-top: 20px;
}

.wp-pagenavi a,
.wp-pagenavi a:link,
.wp-pagenavi a:visited,
.wp-pagenavi a:active {
	padding: 4px 8px;
	margin: 3px;
	text-decoration: none;
	border: 1px solid #C8C8C2;
	background: #FCFCFC;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	color: #999;
	border-radius: 5px;
}

.wp-pagenavi a:hover {
	border: 1px solid #a7a7a3;
	color: #444;
}

.wp-pagenavi span.pages {
	padding: 4px 8px;
	margin: 3px;
	font-family: 'doublevregular',"Microsoft YaHei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
	color: #999;
}

.wp-pagenavi span.current {
	padding: 4px 8px;
	margin: 3px;
	text-decoration: none;
	border: 1px solid #a7a7a3;
	background: #FCFCFC;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	color: #444;
	border-radius: 5px;
}

.wp-pagenavi span.extend {
	padding: 4px 8px;
	margin: 3px;
	text-decoration: none;
	border: 1px solid #C8C8C2;
	background: #FCFCFC;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}


/*-----------------------------------------------------------------------------------*/
/*	8.	Widgets
/*-----------------------------------------------------------------------------------*/

.widget {
	background: url(../images/bg-diag.png) left bottom repeat-x;
	margin-bottom: 40px;
}

#footer .widget {
	background: none;
	font-size: 13px;
}

.tz_video_widget {
	padding: 0 0 20px 0;
}

.tz_video_desc {
	font-size: 11px;
	text-align: center;
	padding: 10px 0 0 0;
}

/* -- Calendar Widget -- */

.widget_calendar {
	position: absolute;
	left: -999999999px;
	top: -99999999px;
}

.widget_calendar caption {
	margin-bottom: 5px
}

.widget_calendar table {
	width: 100%
}

/* -- Tabbed widget -- */

.tz_tab_widget {
	padding: 0 0 30px 0;
	margin-bottom: 30px;
}

.tz_tab_widget #tab-items {
	list-style-type: none;
	padding-left: 35px;
	margin: 0;
	height: 31px;
	margin-bottom: 15px;
	width: 270px;
}

.tz_tab_widget #tab-items li {
	float: left;
	margin: 0 6px 0 0;
}

.tz_tab_widget #tab-items li a {
	color: #444;
	height: 31px;
	line-height: 31px;
	padding: 0 9px;
	display: block;
	background: url(../images/bg-tab-items.gif) repeat-x;
	-moz-border-radius: 3px 3px 5px 5px;
	-webkit-border-radius: 3px 3px 5px 5px;
	border-radius: 3px 3px 5px 5px;
}

.tz_tab_widget #tab-items li a:hover,
.tz_tab_widget #tab-items li.ui-tabs-selected a,
.tz_tab_widget #tab-items li.ui-state-active a {
	color: #E2E2E1;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	background-position: left -31px;
}

.tz_tab_widget .ui-tabs-hide {
	display: none
}

.tz_tab_widget .tab ul {
	list-style-type: none;
	margin: 0;
}

.tz_tab_widget #tabs-3 ul li {
	height: 40px !important;
	background: url(../images/recomsep.png) no-repeat 0 41px !important;
	text-indent: 0 !important;
	line-height: 20px !important;
}

.recentcommentsavatar {
	float: left;
	padding: 0 10px 0 0;
}

.recentcommentsavatar .avatar {
	float: left;
	width: 32px;
	height: 32px;
	position: relative;
	border-radius: 50px;
}

span.recentcomments_author {
	display: block;
	float: left;
	line-height: 20px;
	height: 22px;
	overflow: hidden;
	color: #96958F;
}

span.recentcomments_date {
	display: block;
	float: right;
	width: 80px;
	line-height: 20px;
	height: 22px;
	overflow: hidden;
	color: #96958F;
}

.tz_tab_widget .tab ul li {
    /*--background: url(../images/bg-side-bevel.gif) left top repeat-x;---*/
	border-bottom: 1px dashed #DEDEDE;
	padding: 15px 0 13px 0!important;
	line-height: 20px!important;
}

.tz_tab_widget .tab ul li:first-child {
	background: none
}

.tz_tab_widget .tab-thumb img {
	padding: 2px;
	background: #f9f8f8;
	float: left;
	margin: 0 15px 0 0;
	border: 1px solid #afaea6;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.tz_tab_widget .tab-thumb img:hover {
	background: #222;
	border-color: #111;
}

.tz_tab_widget .entry-title,
.tabcommentlink,
.tz_tab_widget .entry-title a {
	font-family: 'doublevregular',"Microsoft YaHei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 1px;
	padding: 0;
	border: none;
	text-transform: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6)!important;
	letter-spacing: normal;
	color: #444;
}

.tabcommentlink {
	float: left;
	overflow: hidden;
	display: inline;
	height: 16px;
	width: 208px;
}

.tz_tab_widget .entry-title a:hover {
	color: #a0410d!important
}

.tz_tab_widget .entry-meta span,
.tz_tab_widget .entry-meta span a {
	color: #96958f!important;
	font-size: 11px;
}

.tz_tab_widget .entry-meta {
	margin: 0!important
}

.tz_tab_widget .entry-meta span a:hover {
	color: #696862!important
}

.tab-tags {
	padding: 15px 0 15px 0
}

.tab-tags a {
	background: url(../images/bg-tab-items.gif) left -36px repeat-x;
	padding: 2px 8px;
	float: left;
	display: block;
	margin: 0 3px 3px 0;
	color: #E2E2E1;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
}

.tab-tags a:hover {
	color: #fff;
	text-decoration: none;
	background: #A0410D;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

/* Twitter widget */

.tz_tweet_widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
}

#twitter-link {
	font-size: 11px;
}

.tz_tweet_widget {
	padding: 0 0 40px 0;
}

.tz_tweet_widget li {
	margin: 0 0 10px 0;
}

/*-- Categories widget --*/

.widget_meta,
.widget_links,
.widget_pages,
.widget_categories,
.widget_nav_menu,
.widget_recent_comments,
.widget_recent_entries,
.widget_archive,
.widget_bd_random_post_widget {
	padding-bottom: 40px;
}

.widget_bd_random_post_widget {
	margin-top: 15px
}

.widget_meta ul,
.widget_links ul,
.widget_pages ul,
.widget_categories ul,
.widget_archive ul,
.widget_nav_menu ul,
.widget_bd_random_post_widget ul {
	list-style-type: none;
	margin: 0;
	width: 280px;
}

#footer .widget_meta ul,
#footer .widget_links ul,
#footer .widget_pages ul,
#footer .widget_categories ul,
#footer .widget_archive ul,
#footer .widget_nav_menu ul {
	width: 250px;
}

.widget_meta li,
.widget_links li,
.widget_pages li,
.widget_categories li,
.widget_archive li,
.widget_nav_menu li {
	float: left;
	width: 110px;
	background: url(../images/liicon.png) no-repeat;
	margin-right: 10px;
	line-height: 32px;
	padding-left: 15px;
	color: #A0410D;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	border-bottom: 1px dashed #DEDEDE;
}

.widget_bd_random_post_widget ul li {
	float: left;
	width: 250px;
	background: url(../images/liicon.png) no-repeat;
	margin-right: 10px;
	line-height: 32px;
	padding-left: 15px;
	color: #A0410D;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	border-bottom: 1px dashed #DEDEDE;
}

.widget_meta li:hover,
.widget_links li:hover,
.widget_pages li:hover,
.widget_categories li:hover,
.widget_archive li:hover,
.widget_nav_menu li:hover,
.widget_bd_random_post_widget ul li:hover {
	background: url(../images/liicon.png) no-repeat -0px -53px;
}

.tz_tweet_widget li {
	background: url(../images/bg-side-bevel.gif) left bottom repeat-x;
	padding-bottom: 12px;
}

.widget_categories .widget-title {
	display: none;
}

#footer .widget_meta li,
#footer .widget_links li,
#footer .widget_pages li,
#footer .widget_categories li,
#footer .widget_archive li,
#footer .widget_nav_menu li {
	width: 95px;
	background: url(../images/footer_ul_border.png) left bottom repeat-x;
}

#footer .tz_tweet_widget li {
	background: url(../images/footer_ul_border.png) left bottom repeat-x;
	padding-bottom: 12px;
}

.widget_meta a,
.widget_links a,
.widget_pages a,
.widget_categories a,
.widget_archive a,
.widget_nav_menu a,
.widget_bd_random_post_widget a {
	color: #444
}

.widget_meta a:hover,
.widget_links a:hover,
.widget_pages a:hover,
.widget_categories a:hover,
.widget_archive a:hover,
.widget_nav_menu a:hover,
.widget_bd_random_post_widget a:hover {
	color: #A0410D
}

/*-- search --*/

.widget_search {
	padding-bottom: 30px;
	margin-bottom: 30px;
	margin-top: -15px;
}

.widget_search form {
	margin: 0
}

.widget_search input {
	background: #F9F8F8;
	border: 1px solid #c8c7c2;
	-moz-box-shadow: 1px 1px 4px #ddd inset;
	-webkit-box-shadow: 1px 1px 4px #ddd inset;
	box-shadow: 1px 1px 4px #ddd inset;
	width: 244px;
	color: #96958F;
}

.widget_search input:focus {
	border-color: #b2adad
}

.ads-250,
.ads-125 {
	width: 270px;
	padding: 0 0 40px 0;
}

.ads-125 a {
	background: #202321;
	width: 125px;
	height: 125px;
	float: left;
	margin: 0 10px 10px 0;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.ads-250 a {
	background: #202321;
	width: 250px;
	height: 250px;
	display: block;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.tagcloud {
	padding-bottom: 30px;
}

.widget_recent_comments ul,
.widget_recent_entries ul {
	list-style-type: none;
	margin: 0;
}

.widget_recent_comments li,
.widget_recent_entries li {
	margin: 0 0 10px 0;
	padding-bottom: 12px;
}

#footer .widget_recent_comments li,
#footer .widget_recent_entries li {
	background: url(../images/footer_ul_border.png) left bottom repeat-x;
}

#sidebar .widget_recent_comments li,
#sidebar .widget_recent_entries li {
	background: url(../images/bg-side-bevel.gif) left bottom repeat-x;
}




/*-----------------------------------------------------------------------------------*/
/*	9.	Footer Styles
/*-----------------------------------------------------------------------------------*/

#footer {
	background: #25292b url(../images/bg-footer.gif) repeat-x
}

#footer-texture {
	background: url(../images/bg-foot-inner.jpg) center top no-repeat
}

#footer-inner {
	margin: 0 auto;
	width: 1000px;
	padding: 55px 15px 25px 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	color: #cacbc6;
}

#footer-columns {
	width: 1000px;
}

#footer .column {
	width: 230px;
	margin: 0 20px 0 0;
	float: left;
}

#footer h4 {
	font-size: 13px;
	color: #e2e2e1;
	padding: 0;
	margin-bottom: 25px;
	font-weight: bold;
}

#footer a {
	color: #a0927f
}

#footer a:hover {
	color: #CACBC6
}

#foot-about {
	float: left;
	width: 240px;
	margin: 0 40px 60px 0;
}

#foot-about ul {
	list-style-type: none;
	margin: 0;
}

#foot-tweets {
	float: left;
	width: 240px;
	margin-bottom: 60px;
}

#foot-tweets a {
	color: #7d7d7d
}

#foot-tweets a:hover {
	color: #cbccc7
}

#foot-tweets span a {
	color: #a0927f
}

#foot-tweets ul {
	list-style-type: none;
	margin: 0;
}

#foot-tweets li {
	padding: 13px 0;
	background: url(../images/bg-foot-bevel.gif) left bottom repeat-x;
}

#foot-tweets li:first-child {
	padding: 0 0 10px 0
}

#foot-right {
	float: right;
	width: 415px;
	margin-bottom: 60px;
}

.copyright {
	margin: 0;
	font-size: 13px;
}

.copyright a {
	color: #CACBC6!important;
	border-bottom: 1px dotted #777;
}

.copyright a:hover {
	color: #E2E2E1!important
}

#flickr {
	width: 280px;
	padding-bottom: 40px;
}

#footer #flickr {
	width: 250px;
}

#flickr .flickr_badge_image {
	float: left;
	height: 53px;
	width: 53px;
	margin: 0 16px 16px 0;
}

#footer #flickr .flickr_badge_image {
	height: 47px;
	width: 47px;
	margin: 0 14px 14px 0;
}

#flickr .flickr_badge_image a {
	display: block;
	height: 53px;
	width: 53px;
}

#footer #flickr .flickr_badge_image a {
	height: 47px;
	width: 47px;
}

#flickr .flickr_badge_image img {
	background: #c5c5c5;
	padding: 2px;
	height: 48px;
	width: 48px;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#footer #flickr .flickr_badge_image img {
	height: 41px;
	width: 41px;
}

#flickr .flickr_badge_image img:hover {
	background: #222
}

.textwidget {
	padding: 0 0 20px 0;
	font-size: 12px;
}

.widget-title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 0;
}

#footer .widget-title {
	text-shadow: 0 1px 3px rgba(0,0,0,0.75);
	color: #e2e2e1;
}


/*-----------------------------------------------------------------------------------*/
/*	10.	Page Templates
/*-----------------------------------------------------------------------------------*/

.contact-form label {
	width: 60px;
	margin-right: 20px;
	padding: 2px 0 10px 0;
	display: block;
}

.contact-form label.type {
	padding: 0
}

.contact-form input[type=text],
.contact-form textarea {
	border: 1px solid #ddd;
	background: #fcfcfc;
	-moz-box-shadow: 1px 1px 4px #F4F4F4 inset;
	-webkit-box-shadow: 1px 1px 4px #F4F4F4 inset;
	box-shadow: 1px 1px 4px #F4F4F4 inset;
	margin: 0 0 20px 0;
}

.contact-form textarea {
	margin-bottom: 0;
}

.contact-form input[type=text] {
	margin-right: 10px;
	padding: 7px;
	border: 1px solid #ddd;
	width: 180px;
}

.contact-form textarea {
	width: 97%;
	height: 150px;
	padding: 7px;
	border: 1px solid #ddd;
}

.contact-form li {
	list-style: none;
}

.contact-form ul {
	margin: 0;
	padding: 0;
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus {
	border-color: #c0c0c0
}

.contact-form p {
	position: relative
}

p.psubmit {
	height: 65px
}

p.psubmit span {
	font-size: 10px;
	margin-left: 100px;
}

.button-message {
	float: left;
	display: block;
	height: 65px;
	width: 190px;
	text-indent: -9999px;
	background: url(../images/bg-btn-message.png) no-repeat;
	padding: 0;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 20px;
}

.button-message:hover,
.button-message:active,
.button-message:focus {
	background: url(../images/bg-btn-message.png) -200px top no-repeat;
	outline: 0;
	border: none;
}

.contact-form .ajax-loader {
	margin: 15px 0 0 0!important
}

.contact-form span.wpcf7-not-valid-tip {
	border: none!important;
	background: none!important;
	font-size: 10px!important;
	text-transform: uppercase!important;
	top: -4px!important;
	left: 10px!important;
	color: red!important;
}

.contact-form label.error,
.contact-form div.wpcf7-validation-errors {
	border: none!important;
	color: red!important;
	font-size: 10px!important;
	text-transform: uppercase!important;
	padding: 0 0 20px 0!important;
	display: inline;
}

.contact-form div.wpcf7-mail-sent-ok {
	border: none!important;
	color: #598527!important;
	font-size: 10px!important;
	text-transform: uppercase!important;
	padding: 0!important;
}

/*-- 404 --*/

.error404 #primary input {
	border: 1px solid #ddd;
	background: #fcfcfc;
	-moz-box-shadow: 1px 1px 4px #F4F4F4 inset;
	-webkit-box-shadow: 1px 1px 4px #F4F4F4 inset;
	box-shadow: 1px 1px 4px #F4F4F4 inset;
	width: 180px;
}

.error404 h1.entry-title {
	margin-bottom: 15px
}


/*-- Full width --*/

.page-template-template-fullwidth-php #content-wrap {
	width: 980px;
}

.page-template-template-fullwidth-php #content-top {
	width: 980px;
	background: url(../images/content_top_full.png) no-repeat;
}

.page-template-template-fullwidth-php #content-btm {
	width: 980px;
	background: url(../images/content_bottom_full.png) no-repeat;
}

.page-template-template-fullwidth-php #primary {
	width: 870px;
	background: url(../images/primary_bg_full.png) repeat-y;
}

/* -- Archives Template -- */

.archive-lists .children {
	margin-bottom: 0
}

/* -- Full Width Template -- */

.full-width {
	width: 960px!important
}


/* -- Gallery Template -- */

.page-template-template-gallery-php .hentry {
	padding: 0 0 10px;
}

.gallery-wrap {
	width: 609px;
}

.gallery-wrap .hentry {
	float: left;
	width: 174px;
	height: 160px;
	margin-right: 29px;
	padding: 0;
}


/*-----------------------------------------------------------------------------------*/
/*	10.	Shortcode Styles
/*-----------------------------------------------------------------------------------*/

/* Columns */
.one_half {
	width: 48%;
}

.one_third {
	width: 30.66%;
}

.two_third {
	width: 65.33%;
}

.one_fourth {
	width: 22%;
}

.three_fourth {
	width: 74%;
}

.one_fifth {
	width: 16.8%;
}

.two_fifth {
	width: 37.6%;
}

.three_fifth {
	width: 58.4%;
}

.four_fifth {
	width: 67.2%;
}

.one_sixth {
	width: 13.33%;
}

.five_sixth {
	width: 82.67%;
}

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

.column-last {
	margin-right: 0!important;
	clear: right;
}

/* Buttons */

a.button {
	height: 20px;
	display: inline-block;
	margin: 0 5px 20px 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	padding: 8px 10px 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

a.button.large {
	height: 24px;
	padding: 11px 10px 0 10px;
	font-size: 14px;
	line-height: 14px;
}

a:hover.button {
	background-position: 0 -28px;
}

a:hover.button.large {
	background-position: 0 -35px;
}

a.button.white {
	background-image: url(../images/shortcodes/buttons/button_white.png);
	border: 1px solid #d3d3d3;
	color: #555555;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
}

a.button.large.white {
	background-image: url(../images/shortcodes/buttons/button_white_large.png);
}

a:hover.button.white {
	border: 1px solid #c4c4c4;
}

a.button.grey {
	background-image: url(../images/shortcodes/buttons/button_grey.png);
	border: 1px solid #b5b5b5;
	color: #555555;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.grey {
	background-image: url(../images/shortcodes/buttons/button_grey_large.png);
}

a:hover.button.grey {
	border: 1px solid #989898;
}

a.button.red {
	background-image: url(../images/shortcodes/buttons/button_red.png);
	border: 1px solid #df6f8b;
	color: #913944;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.3);
}

a.button.large.red {
	background-image: url(../images/shortcodes/buttons/button_red_large.png);
}

a:hover.button.red {
	border: 1px solid #c36079;
}

a.button.orange {
	background-image: url(../images/shortcodes/buttons/button_orange.png);
	border: 1px solid #f5b74e;
	color: #996633;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.orange {
	background-image: url(../images/shortcodes/buttons/button_orange_large.png);
}

a:hover.button.orange {
	border: 1px solid #d29a3a;
}

a.button.green {
	background-image: url(../images/shortcodes/buttons/button_green.png);
	border: 1px solid #adc671;
	color: #5d7731;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.green {
	background-image: url(../images/shortcodes/buttons/button_green_large.png);
}

a:hover.button.green {
	border: 1px solid #8bb14d;
}

a.button.teal {
	background-image: url(../images/shortcodes/buttons/button_teal.png);
	border: 1px solid #90c6c8;
	color: #437b7d;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.teal {
	background-image: url(../images/shortcodes/buttons/button_teal_large.png);
}

a:hover.button.teal {
	border: 1px solid #7db9bb;
}

a.button.blue {
	background-image: url(../images/shortcodes/buttons/button_blue.png);
	border: 1px solid #8dc5da;
	color: #42788e;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.blue {
	background-image: url(../images/shortcodes/buttons/button_blue_large.png);
}

a:hover.button.blue {
	border: 1px solid #7caec0;
}

a.button.navy {
	background-image: url(../images/shortcodes/buttons/button_navy.png);
	border: 1px solid #a2afb8;
	color: #515f6a;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.navy {
	background-image: url(../images/shortcodes/buttons/button_navy_large.png);
}

a:hover.button.navy {
	border: 1px solid #8996a0;
}

a.button.purple {
	background-image: url(../images/shortcodes/buttons/button_purple.png);
	border: 1px solid #bc9db9;
	color: #7b5777;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
}

a.button.large.purple {
	background-image: url(../images/shortcodes/buttons/button_purple_large.png);
}

a:hover.button.purple {
	border: 1px solid #a482a0;
}

a.button.black {
	background-image: url(../images/shortcodes/buttons/button_black.png);
	border: 1px solid #4c4c4c;
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0,0,0, 0.4);
}

a.button.large.black {
	background-image: url(../images/shortcodes/buttons/button_black_large.png);
}

a:hover.button.black {
	border: 1px solid #2c2c2c;
}

/* Alerts ------------------------------*/

.alert {
	padding: 12px 5% 12px 5%;
	font-family: 'doublevregular',"Microsoft YaHei","Trebuchet MS",Arial,Verdana,Tahoma,sans-serif;
	font-style: italic;
	text-align: center;
	margin: 0 0 20px 0;
}

.alert.white {
	background: #fff;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	color: #444444;
}

.alert.red {
	background: #FFD7D8;
	border-top: 1px solid #f9bac7;
	border-bottom: 1px solid #f9bac7;
	color: #d54c4c;
}

.alert.orange {
	background: #FFCBA8;
	border-top: 1px solid #efd1b1;
	border-bottom: 1px solid #efd1b1;
	color: #cc6600;
}

.alert.green {
	background: #D5FFCA;
	border-top: 1px solid #cadba7;
	border-bottom: 1px solid #cadba7;
	color: #5f8b33;
}

/* Tabs ------------------------------*/

.ui-tabs .ui-tabs-hide {
	position: absolute;
	left: -10000px;
}

.tabs {
	margin: 0 0 20px 0;
}

.tabs ul.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs ul.nav li {
	float: left;
	position: relative;
	margin: 0 2px -1px 0;
	z-index: 10;
}

.tabs ul.nav li a {
	border: 1px solid #EFEFEF;
	border-bottom: none;
	display: block;
	overflow: hidden;
	padding: 5px 10px 0 10px;
	height: 24px;
	background: #FBFBFB;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.tabs ul.nav li.ui-tabs-selected a {
	height: 25px;
	background: #fff;
	color: #000;
}

.tabs .tab {
	background: #fff;
	padding: 10px;
	border: 1px solid #EFEFEF;
}

/* Toggle ------------------------------*/

.toggle {
	margin: 0 0 20px 0;
}

.toggle h4 {
	font-size: 12px;
	padding: 10px;
	background: #FBFBFB;
	border: 1px solid #EFEFEF;
	cursor: pointer;
}

.toggle-inner {
	padding: 10px;
	background: #fff;
	border: 1px solid #EFEFEF;
	border-top: none;
}

.toggle .ui-icon {
	background: #F00;
	width: 10px;
	height: 10px;
	float: left;
	margin: 3px 10px 0 0;
}

.toggle .ui-icon {
	background: url(../images/shortcodes/toggles/toggle-closed.png) no-repeat;
	width: 12px;
	height: 12px;
	float: left;
	margin: 3px 10px 0 0;
}

.toggle .ui-state-active .ui-icon {
	background: url(../images/shortcodes/toggles/toggle-open.png) no-repeat;
}

/*-----------------------------------------------------------------------------------*/
/*	代码高亮
/*-----------------------------------------------------------------------------------*/

.dp-highlighter {
	font-family: "Courier New" , Courier, mono;
	font-size: 12px;
	background-color: #FAFAFA;
	border: 1px solid #D1D7DC;
	width: 99%;
	overflow: auto;
	margin: 0px 0px 15px 0px;
}

.dp-highlighter .bar {
	padding: 2px;
}

.dp-highlighter.collapsed .bar, .dp-highlighter.nogutter .bar {
	padding-left: 0px;
}

.dp-highlighter ol {
	margin: 0px 0px 1px 38px;
 /* 1px bottom margin seems to fix occasional Firefox scrolling */
	padding: 2px;
	color: #2B91AF;
}

.dp-highlighter.nogutter ol {
	list-style-type: none;
	margin-left: 0px;
}

.dp-highlighter ol li, .dp-highlighter .columns div {
	/*background-color: #fff;*/
	border-left: 1px solid #D1D7DC;
	padding-left: 10px;
	line-height: 18px;
}

.dp-highlighter.nogutter ol li, .dp-highlighter.nogutter .columns div {
	border: 0;
}

.dp-highlighter .columns {
	color: gray;
	overflow: hidden;
	width: 100%;
}

.dp-highlighter .columns div {
	padding-bottom: 5px;
}

.dp-highlighter ol li.alt {
	/*background-color: #f8f8f8;*/
}

.dp-highlighter ol li span {
	color: Black;
}

/* Adjust some properties when collapsed */

.dp-highlighter.collapsed ol {
	margin: 0px;
}

.dp-highlighter.collapsed ol li {
	display: none;
}

/* Additional modifications when in print-view */

.dp-highlighter.printing {
	border: none;
}

.dp-highlighter.printing .tools {
	display: none !important;
}

.dp-highlighter.printing li {
	display: list-item !important;
}

/* Styles for the tools */

.dp-highlighter .tools {
	padding: 3px 8px 3px 15px;
	border-bottom: 1px solid #2B91AF;
	font: 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: silver;
}

.dp-highlighter.collapsed .tools {
	border-bottom: 0;
}

.dp-highlighter .tools a {
	font-size: 9pt;
	color: gray;
	text-decoration: none;
	margin-right: 10px;
}

.dp-highlighter .tools a:hover {
	color: red;
	text-decoration: underline;
}

/* About dialog styles */

.dp-about {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
}

.dp-about table {
	width: 100%;
	height: 100%;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, sans-serif !important;
}

.dp-about td {
	padding: 10px;
	vertical-align: top;
}

.dp-about .copy {
	border-bottom: 1px solid #ACA899;
	height: 95%;
}

.dp-about .title {
	color: red;
	font-weight: bold;
}

.dp-about .para {
	margin: 0 0 4px 0;
}

.dp-about .footer {
	background-color: #ECEADB;
	border-top: 1px solid #fff;
	text-align: right;
}

.dp-about .close {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, sans-serif !important;
	background-color: #ECEADB;
	width: 60px;
	height: 22px;
}

/* Language specific styles */

.dp-c {
}

.dp-c .comment {
	color: green;
}

.dp-c .string {
	color: blue;
}

.dp-c .preprocessor {
	color: gray;
}

.dp-c .keyword {
	color: blue;
}

.dp-c .vars {
	color: #d00;
}

.dp-vb {
}

.dp-vb .comment {
	color: green;
}

.dp-vb .string {
	color: blue;
}

.dp-vb .preprocessor {
	color: gray;
}

.dp-vb .keyword {
	color: blue;
}

.dp-sql {
}

.dp-sql .comment {
	color: green;
}

.dp-sql .string {
	color: red;
}

.dp-sql .keyword {
	color: rgb(127,0,85);
}

.dp-sql .func {
	color: #ff1493;
}

.dp-sql .op {
	color: blue;
}

.dp-xml {
}

.dp-xml .cdata {
	color: #ff1493;
}

.dp-xml .comments {
	color: green;
}

.dp-xml .tag {
	font-weight: bold;
	color: blue;
}

.dp-xml .tag-name {
	color: rgb(127,0,85);
	font-weight: bold;
}

.dp-xml .attribute {
	color: red;
}

.dp-xml .attribute-value {
	color: blue;
}

.dp-delphi {
}

.dp-delphi .comment {
	color: #008200;
	font-style: italic;
}

.dp-delphi .string {
	color: blue;
}

.dp-delphi .number {
	color: blue;
}

.dp-delphi .directive {
	color: #008284;
}

.dp-delphi .keyword {
	font-weight: bold;
	color: navy;
}

.dp-delphi .vars {
	color: #000;
}

.dp-py {
}

.dp-py .comment {
	color: green;
}

.dp-py .string {
	color: red;
}

.dp-py .docstring {
	color: green;
}

.dp-py .keyword {
	color: blue;
	font-weight: bold;
}

.dp-py .builtins {
	color: #ff1493;
}

.dp-py .magicmethods {
	color: #808080;
}

.dp-py .exceptions {
	color: brown;
}

.dp-py .types {
	color: brown;
	font-style: italic;
}

.dp-py .commonlibs {
	color: #8A2BE2;
	font-style: italic;
}

.dp-rb {
}

.dp-rb .comment {
	color: #c00;
}

.dp-rb .string {
	color: #f0c;
}

.dp-rb .symbol {
	color: #02b902;
}

.dp-rb .keyword {
	color: #069;
}

.dp-rb .variable {
	color: #6cf;
}

.dp-css {
}

.dp-css .comment {
	color: green;
}

.dp-css .string {
	color: red;
}

.dp-css .keyword {
	color: blue;
}

.dp-css .colors {
	color: darkred;
}

.dp-css .vars {
	color: #d00;
}

.dp-j {
}

.dp-j .comment {
	color: rgb(63,127,95);
}

.dp-j .string {
	color: rgb(42,0,255);
}

.dp-j .keyword {
	color: rgb(127,0,85);
	font-weight: bold
}

.dp-j .annotation {
	color: #646464;
}

.dp-j .number {
	color: #C00000;
}

.dp-cpp {
}

.dp-cpp .comment {
	color: #e00;
}

.dp-cpp .string {
	color: red;
}

.dp-cpp .preprocessor {
	color: #CD00CD;
	font-weight: bold;
}

.dp-cpp .keyword {
	color: #5697D9;
	font-weight: bold;
}

.dp-cpp .datatypes {
	color: #2E8B57;
	font-weight: bold;
}

.dp-perl {
}

.dp-perl .comment {
	color: green;
}

.dp-perl .string {
	color: red;
}

.dp-perl .keyword {
	color: rgb(127,0,85);
}

.dp-perl .func {
	color: #ff1493;
}

.dp-perl .declarations {
	color: blue;
}

.dp-css .vars {
	color: #d00;
}

.dp-g {
}

.dp-g .comment {
	color: rgb(63,127,95);
}

.dp-g .string {
	color: rgb(42,0,255);
}

.dp-g .keyword {
	color: rgb(127,0,85);
	font-weight: bold
}

.dp-g .type {
	color: rgb(0,127,0);
	font-weight: bold
}

.dp-g .modifier {
	color: rgb(100,0,100);
	font-weight: bold
}

.dp-g .constant {
	color: rgb(255,0,0);
	font-weight: bold
}

.dp-g .method {
	color: rgb(255,96,0);
	font-weight: bold
}

.dp-g .number {
	color: #C00000;
}

/*-----------------------------------------------------------------------------------*/
/*	友情链接
/*-----------------------------------------------------------------------------------*/

#linkcontent .linkpage h3 {
	background: url(../images/linkline.png) no-repeat scroll 0 10px transparent;
	height: 40px;
	color: #5e6069;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	margin-left: 5px
}

#linkcontent .linkpage ul {
	list-style-type: none;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 30px
}

#linkcontent .linkpage ul li ul li {
	float: left;
	height: 30px;
	line-height: 23px;
	list-style-type: none;
	text-align: center;
	margin: 9px
}

#linkcontent .linkpage ul li ul li a {
	color: #3AA2B4;
	display: block;
	text-decoration: none;
	float: left;
	height: 22px;
	overflow: hidden;
	width: 110px;
	border: 1px solid #FFF;
	background: #F9F9F9;
	-moz-box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	box-shadow: 0 0 3px #AAA;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px
}

/*-----------------------------------------------------------------------------------*/
/*	留言版读者墙
/*-----------------------------------------------------------------------------------*/

.readerwall {
	padding: 12px 0 12px 15px;
	font-size: 12px;
	overflow: visible;
}

.readerwall li {
	margin: 4px;
	width: 44px;
	height: 44px;
	padding: 3px 1px 1px 3px;
	float: left;
	list-style: none;
	border: 1px solid #DFDFDF;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.readerwall .active-bg {
	width: 40px;
	height: 2px;
	_font-size: 0;
	margin: -3px 0 0 -2px;
	background: #DFDFDF;
}

.readerwall .active-degree {
	background: red;
	width: 40px;
	height: 2px;
	_font-size: 0;
}

.readerwall a {
	width: 42px;
	height: 42px;
	display: inline-block;
	position: relative;
	margin: 0;
	text-decoration: none
}

.readerwall .pic {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 42px;
	height: 42px;
	display: block;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	border-radius: 4px;
	text-indent: -9999px
}

.readerwall .num {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 40px;
	height: 40px;
	line-height: 34px;
	color: #E02523;
	font-size: 18px;
	font-weight: bold;
	display: block;
	background: #fff;
	text-align: center;
	border: #bbb 1px solid;
	box-shadow: 0 0 4px #ccc;
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	border-radius: 4px
}

.readerwall .name {
	position: absolute;
	top: 0;
	left: 0;
	color: #333;
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	text-align: center
}

.readerwall a:hover .pic {
	z-index: 100;
	border-color: #eee;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg)
}

.readerwall a:hover .num {
	z-index: 101;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	opacity: .8
}

.readerwall a:hover .name {
	top: -28px;
	left: -38px;
	z-index: 101;
	padding: 4px 6px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 3px #000;
	min-width: 100px;
	opacity: .8
}

/*-----------------------------------------------------------------------------------*/
/*	文章信息
/*-----------------------------------------------------------------------------------*/
.contentinfo_time {
	background: url(../images/contentinfo.png) 0px 0px no-repeat;
}

.contentinfo_time:hover {
	background: url(../images/contentinfo.png) 0px -24px no-repeat;
	color: #444;
}

.contentinfo_category {
	background: url(../images/contentinfo.png) 0px -47px no-repeat;
}

.contentinfo_category:hover {
	background: url(../images/contentinfo.png) 0px -71px no-repeat;
	color: #444;
}

.contentinfo_view {
	background: url(../images/contentinfo.png) 0px -142px no-repeat;
}

.contentinfo_view:hover {
	background: url(../images/contentinfo.png) 0px -163px no-repeat;
	color: #444;
}

.contentinfo_comment {
	background: url(../images/contentinfo.png) 0px -95px no-repeat;
}

.contentinfo_comment:hover {
	background: url(../images/contentinfo.png) 0px -119px no-repeat;
	color: #444;
}

/*-----------------------------------------------------------------------------------*/
/*	返回顶部
/*-----------------------------------------------------------------------------------*/
.stt-top {
 /* One of these will hide it without using display:none =P */
	display: block;
	text-indent: -9999em;
	font-size: 0;
	line-height: 0;
	height: 0;
	visibility: hidden;
}

.stt-gototop {
	position: fixed;
	z-index: 5000;
	bottom: 120px;
	right: 0px;
	background: url("../images/gototop.png") no-repeat top left;
	text-indent: -9999em;
	width: 54px;
	height: 54px;
	display: none;
}

.stt-gototop:hover,
.stt-gototop:active,
.stt-gototop:focus {
	outline: 0;
}