/******通用*******/
html{overflow-y:scroll;}
body,p,input {font-family:verdana,helvetica,arial,sans-serif;}
img {border:0;}
body {font-size:14px;color:#555555;background-color:#f1f1f1;margin:0px;}
div {width:100%;margin:0;padding:0;} 
/**#top {margin: auto;background:url('../images/bg.jpg') repeat; height:60px;}**/
/**#top {margin: auto; background-color:#ffffff; height:100px; boder-bottom:1px solid #d0d3d3; box-shadow:0 5px 8px rgba(0, 0, 0, 0.1)}**/
#top {background-image:linear-gradient(to bottom, #3c3c3c 0%, #222 100%);box-shadow:0 5px 8px rgba(0, 0, 0, 0.1); height:100px; margin:auto;}
#top a{margin-left: 15px;}
#top #top_left{width: 200px;float: left; height:60px; margin-left:300px; margin-top:15px;}
#top #top_right{width: 800px;float:left;height:40px; text-align: center;margin-top: 40px;}
#top #top_right a{color:#BBBABA;font-size: 14px;font-weight: bold; text-decoration: none;}
#top #top_right a:hover{background-image:linear-gradient(to bottom, #222 0%, #282828 100%);box-shadow:0 3px 9px rgba(0, 0, 0, 0.25) inset; height:100px; width:100px;color:#fff;}
div.box1 {float:left;width:310px;margin-top:40px;}
div.boxDemo {float:left;width:456px;background-color:#f1f1f1;border:1px solid #e3e3e3;padding:20px;padding-bottom:10px;text-align:center;margin-top:40px;margin-right:60px;}
div.boxDemo h2 {font-size:28px;margin:0px;}
div.boxDemo a.btn {text-align:center;width:100px;float:left;margin-left:20px;background-color:#ffffff;}
div.boxDemo a.btn:hover {background-color:#555555;}
div.boxRef {float:right;width:310px;}
div.boxRef h1 {font-size:32px;margin-top:30px;margin-bottom:10px;}
div.boxRef a:before {content:"\00BB  ";font-weight:bold;color:#ff4800;}
div.image {box-shadow: 0px 10px 20px 3px #d3d3d3;width:100px;height:80px;border-radius:4px;float:left;background-image:url('../images/w3.png');background-repeat:no-repeat;background-position:center;}
.color0{background-color:#FF9900;}
.color1{background-color:#87C71D;}
.color2{background-color:#07B3D3;}
.color3{background-color:#CC66FF;}
.color4{background-color:#FF9900;}
.color5{background-color:#41BC81;}
.color6{background-color:#6A8CE9;}
.color7{background-color:#CC66FF;}
.color10{background-color:#FF9900;}
.color13{background-color:#41BC81;}
.color16{background-color:#87C71D;}
.color17{background-color:#6A8CE9;}
.color20{background-color:#CC66FF;}
.color23{background-color:#FF9900;}

div.box1 h1 {font-size:32px;margin:0px;float:left;padding-left:10px;padding-top:18px;height:80px;}
div.box1 h2 {margin:0px;float:left;padding-left:10px;padding-top:18px;}
a.box {color:#555555;}
a.btn {display:block;width:170px;margin-bottom:10px;background-color:#f1f1f1;border:1px solid #e3e3e3;padding:8px;border-radius:4px;font-size:16px;color:#555555;text-decoration:none;}
a.btn:hover {background-color:#555555;color:#ffffff;border:1px solid #555555;}
.boxRef a {text-decoration:none;font-size:14px;color:#555555;line-height:20px;}
.boxRef a:hover {text-decoration:underline;}
.boxRef a.box:before {content:"";}
.boxRef a.box:hover {text-decoration:none;}
.boxRef h1 {height:28px;padding-top:9px;}
h1, h2, h3 {
	font-weight:normal;font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#page {width:1200px;margin:auto;background-color:#f8f8f8;padding-left:40px;padding-bottom:40px;box-shadow: 0px 10px 20px 10px #d3d3d3;margin-top: 20px;border-radius:5px;}
#leftcol {width:200px;float:left;margin-top:30px;margin-right:20px;}
#leftcol h3 {font-size:17px;margin-bottom:8px;}
#leftcol a:before {content:"\00BB  ";font-weight:bold;color:#ff4800;}
#leftcol a {text-decoration:none;line-height:20px;font-size:14px;color:#555555;}
#leftcol a:hover {text-decoration:underline;}
#maincol {width:934px;float:left;}
div.about {word-spacing:6px;font-size:10px;padding-top:15px;float:left;width:340px;text-align:right;}
div.about a {color:#555555;text-decoration:none;}
div.about a:hover {text-decoration:underline;}
.footer {width:1040px;margin:auto;color:#909090;font-size:11px;text-align:center;padding-left:30px;padding-right:150px;}
#footerImg {float:left;width:200px;text-align:left;padding-left:3px;padding-top:11px;} 
.footer a:link,.footer a:visited {text-decoration:none;color:#404040;background-color:transparent}
.footer a:hover,.footer a:active {text-decoration:underline;color:#404040;background-color:transparent}
table#bottomlinks{border:none;width:100%;}
#bottomlinks td{text-align:left;padding:10px;vertical-align:top;}
.bottomlinksraquo{font-weight:bold;color:#ff4800;}
#bottomlinks h3{font-size:14px;font-weight:bold;color:#555555;}
#bottomlinks a{font-size:11px;color:#555555;text-decoration:none;}


/******二级页使用******/
	#body #content				{ float: left; width:698px; overflow:hidden; }
	#body #slidebar				{ float: right; width:280px; overflow:hidden; }

	#content .list				{ list-style:none; padding:0; margin:0; }
	#content  .li			{ border-bottom:1px solid #ccc; font-size: 12px; }
	#content .list .even		{ background:#f9f9f9; }
	#content .list .dl			{ margin:0; padding:0; }
	#content .list .dl .dt		{ padding:20px; border-bottom:1px solid #eee; }
	#content .avatar		{ float: left; width:60px;}
	#content .avatar img	{ float: left; width:40px; }
	#content .title_i		{ float: left; width:605px; }
	#content .title_i p, #content .tinfo	
		{ padding:0; margin:0; color:#aaa; margin-top:8px; }
	#content .title_i p span, #content .tinfo .span{
		height:15px;display: block;	float: left;line-height:15px;padding-left: 5px;padding-right: 5px;}
	#content .title_i p .time, #content p .time, #album .list li .time{
		padding-left:22px;
		background:url(../images/icon_1.png) 0 0 no-repeat;
	}
	#content .title_i p .author, #content p .author, #album .list li .author{
		padding-left:20px;
		background:url(../images/icon_1.png) 0 -30px no-repeat;
	}
	#content .title_i p .click, #content p .click, #album .list li .click{
		padding-left:20px;
		background:url(../images/icon_1.png) 0 -45px no-repeat;
	}
	#content .title_i p .comment, #content p .comment, #album .list li .comment{
		padding-left:28px;
		background:url(../images/icon_1.png) 0 -15px no-repeat;
	}
	#content .title_i p .category, #content p .category, #album .list li .category{
		padding-left:20px;
		background:url(../images/icon_1.png) 0 -60px no-repeat;
	}
	#content .title		{ font-size: 14px; font-weight: bold; text-decoration:none; color:#333; }
	#content .list .dl .dd		{ color:#666; padding:25px; margin:0; line-height:19px; }
	#content .list .dl .tags	{ padding-top:0; }
	#content .list .dl .tags a	{ text-decoration:none; color:#006600; }




/****三级页***/
#content .share {
    border-bottom: 1px solid #EEEEEE;
    height: 32px;
    margin-top: 0 !important;
    padding: 20px 20px 0 !important;
}
#content .share a {
    background: url("../images/share_16.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 16px;
    margin-right: 16px;
    width: 16px;
}
#content .share #QQ_space {
    background-position: 0 -16px;
}
#content .share #QQ_weibo {
    background-position: 0 -32px;
}
#content .share #renren {
    background-position: 0 -48px;
}
#content .share #msn {
    background-position: 0 -64px;
}
#content .share #douban {
    background-position: 0 -80px;
}
#content .share #twitter {
    background-position: 0 -96px;
}
#content .share #digg {
    background-position: 0 -112px;
}
#content .share #vimeo {
    background-position: 0 -128px;
}
#content .share #skyp {
    background-position: 0 -144px;
}
#content .share #facebook {
    background-position: 0 -160px;
}
#content .share #wy_weibo {
    background-position: 0 -176px;
}
#content .share #rss {
    background-position: 0 -192px;
}
#content .share #kaixin {
    background-position: 0 -208px;
}

#comment {
    border-top: 1px solid #B9BFC7;
    margin-top: 20px;
}
#comment h3 {
    background: url("../images/title_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #B9BFC7;
    font-size: 12px;
    padding: 10px 15px;
}
#comment * {
    margin: 0;
    padding: 0;
}
#comment .txt, .txtarea, #reply_comment .txt, .txtarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #999999 #CCCCCC #CCCCCC #999999;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}
#comment .txtarea, #reply_comment .txtarea {
    padding: 10px;
    width: 630px;
}
#comment td, #reply_comment td {
    padding: 5px;
}
#comment .do_post_com, #reply_comment .do_post_com {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    font-size: 12px;
    padding: 6px 15px;
}
#comment_list {
}
#comment_list ul {
    list-style: none outside none;
}
#comment_list ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 15px;
}
#comment_list ul li.even {
    background: none repeat scroll 0 0 #F5F5F5;
}
#comment_list ul li .r_box {
    float: right;
    width: 615px;
}
#comment_list ul li h5 {
    font-size: 12px;
    font-weight: normal;
}
#comment_list ul li .msgcot {
    margin-top: 5px;
}
#comment_list ul li.even .replycom {
    background: none repeat scroll 0 0 #FFFFFF;
}
#comment_list ul li .replycom {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #EEEEEE;
    clear: both;
    margin-top: 10px;
    padding: 10px;
}
#comment_list ul li .replycom img {
    float: left;
}
#comment_list ul li .replycom .rightbox {
    float: right;
    width: 540px;
}
#comment_list ul li .replycom h4 {
    font-weight: normal;
}
#comment_list ul li .replycom h4 .repname {
    color: #000000;
}
#comment_list ul li .replycom h4 .reptime {
    color: #999999;
    font-size: 12px;
}
#comment_list ul li .replycom h4 .urname {
    color: #C20000;
}
#comment_list ul li .replycom .repmsg {
    margin-top: 5px;
}
#reply_comment {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CCCCCC;
    margin: 30px;
    padding: 20px;
}
#comment_form {
    border-top: 1px solid #CCCCCC;
    padding: 20px;
}
#comment_page {
}
#comment_page .page {
    border-top: 1px solid #DDDDDD;
    padding: 15px;
}
#comment_page a {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    margin-right: 1px;
    padding: 3px 8px;
}
#comment_page a:hover {
    background: none repeat scroll 0 0 #006CDB;
    border: 1px solid #005AB7;
    color: #FFFFFF;
}
#comment_page span {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #AAAAAA;
    display: block;
    float: left;
    margin-right: 1px;
    padding: 3px 8px;
}