
	@import url(common.css);

	#views		{  }
	
	#content 			{ font-size: 12px; }
	#content .itilte	{ font-size: 24px; font-family:"Microsoft YaHei"; font-weight: normal; padding:20px 20px 0px 20px; margin:0; background:#eee; }
	#content .tinfo		{ background: #eee; border-bottom:1px solid #ccc; height:30px; line-height:30px; margin:0!important; padding:10px 20px 10px 20px!important; }
	
	#content .share		{ border-bottom:1px solid #eee; height:32px; padding:20px 20px 0px 20px!important; margin-top:0!important; }
	#content .share a	{ float:left; display: block; float:left; width:16px; height:16px; background:url(../images/share_16.png) no-repeat; margin-right:16px; }
	#content .share #QQ_space{
		background-position:0 -16px;
	}
	#content .share #QQ_weibo{
		background-position:0 -32px;
	}
	#content .share #renren{
		background-position:0 -48px;
	}
	#content .share #msn{
		background-position:0 -64px;
	}
	#content .share #douban{
		background-position:0 -80px;
	}
	#content .share #twitter{
		background-position:0 -96px;
	}
	#content .share #digg{
		background-position:0 -112px;
	}
	#content .share #vimeo{
		background-position:0 -128px;
	}
	#content .share #skyp{
		background-position:0 -144px;
	}
	#content .share #facebook{
		background-position:0 -160px;
	}
	#content .share #wy_weibo{
		background-position:0 -176px;
	}
	#content .share #rss{
		background-position:0 -192px;
	}
	#content .share #kaixin{
		background-position:0 -208px;
	}
	
	#content .content	{ padding:24px; line-height:19px; }
	#content .summary	{ padding:15px; border:1px solid #eee; background:#f9f9f9; }
	#content .plist		{ padding:0; margin:0; list-style:none; text-align:center; }
	.plist li			{ margin:20px auto; }


	#comment			{ border-top: 1px solid #b9bfc7; }
	#comment h3			{ font-size: 12px; padding:10px 15px; background: url(../images/title_bg.png) repeat-x; border-bottom: 1px solid #b9bfc7; }
	#comment *			{ padding:0; margin: 0; }
 
	#comment .txt, .txtarea, #reply_comment .txt, .txtarea{ padding:4px; border:1px solid;border-color:#999 #CCC #CCC #999;background:#FFF; }
	#comment .txtarea, #reply_comment .txtarea	{ width:630px; padding:10px; }
	#comment td, #reply_comment td			{ padding:5px; }
	#comment .do_post_com, #reply_comment .do_post_com{border:1px solid;border-color:#aaa;background:#eee; padding:6px 15px; font-size:12px; }

	#comment_list		{  }
	#comment_list ul				{ list-style:none; }
	#comment_list ul li 			{ padding:15px; background:#fff; border-bottom: 1px solid #bbb; }
	#comment_list ul li.even		{ background: #f5f5f5; }
	#comment_list ul li .r_box		{ float: right; width:615px; }
	#comment_list ul li h5 			{ font-weight:normal; font-size:12px; }
	#comment_list ul li .msgcot		{ margin-top: 5px; }

	#comment_list ul li.even .replycom				{ background: #fff; }
	#comment_list ul li .replycom					{ background:#f9f9f9; margin-top:10px; clear:both; padding:10px; border:1px solid #eee;}
	#comment_list ul li .replycom img				{ float:left; }
	#comment_list ul li .replycom .rightbox			{ float:right; width:540px; }
	#comment_list ul li .replycom h4					{ font-weight:normal; }
	#comment_list ul li .replycom h4 .repname		{ color:black; }
	#comment_list ul li .replycom h4 .reptime		{ color:#999; font-size:12px; }
	#comment_list ul li .replycom h4 .urname			{ color:#c20000; }
	#comment_list ul li .replycom .repmsg			{ margin-top:5px; }
	
	#reply_comment				{ margin:30px; padding:20px; background: #f7f7f7; border: 1px solid #ccc; }

	#comment_form		{ border-top: 1px solid #ccc; padding:20px; }

	#comment_page			{  }
	#comment_page .page		{ padding:15px; border-top: 1px solid #ddd; }
	#comment_page a			{ display: block; float: left; padding: 3px 8px; background: #eee; border: 1px solid #ccc; margin-right:1px; }
	#comment_page a:hover	{ background: #006cdb; border: 1px solid #005ab7; color:#fff; }
	#comment_page span		{ float: left; padding: 3px 8px; display:block; background: #ccc; border: 1px solid #aaa; margin-right:1px; }