/*@charset "UTF-8";
	*/
 body {
	font:14px/20px Arial,Helvetica,sans-serif;
	color:#3D3C2C;
	font-weight:normal;
	margin:0px;
	background-color:#E4E2CC;
	/*float:right;*/
	
}
div,p,h1,h2,h3,ul,img {
	padding:0px;
	margin:0px;
}
ul {
	list-style-type:none;
}
* {
	}a {
	outline:none;
	text-decoration:none;
}
a:link {
	color:green;
}
a:visited {
	color:green
}
a:hover {
	color:#F96A02;
}
a:active {
	color:#D64700
}
html {
	zoom:1;
}
html * {
	outline:0;
	zoom:1;
}
html button::-moz-focus-inner {
	border-color:transparent!important;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

fieldset,a img {
	border:0;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}


.clear {
	clear:both;
}
/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
 #form { width: 650px;}
 #form { margin:0 auto;   }
 form {	
	margin: 0;
	padding: 0;
}
div.fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 20px 10px;
}
div.fieldset span.legend {
	position: relative;
	background-color: #FCFAE6;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #73b304;
}
button,
input,
textarea { 
	border-width: 1px; 
	margin-bottom: 10px;
	padding: 2px 3px;
	color:green;
}
input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */
label { 
	width: 100px; 
	text-align: right; 
	display:block;
	margin-right: 5px;
}

#dosubmit { margin: 0 0 0 255px ; }

/* -- Table Styles ------------------------------- */
td {
	font: 10pt Helvetica, Arial, sans-serif;
	vertical-align: top;
}

.wrapper {
	width:970px;
	
	background-color:green;
	
	}/* 网站外围阴影 */
.shardow {
	}/* 网站头部 */
/* 网站头部 */
#header{width:960px; height:96px; position:relative; margin:0 auto; padding:0;background:url(../images/main-bg.gif) 0 0 repeat-x #F4F1DD;  }
#header img{width:204px; height:57px; display:block; padding:23px 0 0 6px;}
/* Menu Panel */
#header ul{width:700px; height:96px; display:block; position:absolute; top:0px; right:9px; margin:0; padding:0;}
#header ul li{float:left; width:104px; display:block; text-align:center;}
#header ul li a{width:104px; height:35px; display:block; font:14px/14px "Trebuchet MS",Arial, Helvetica, sans-serif; color:green; background:url(../images/menu-bg.gif) 0 0 repeat-x #F4F1DD; text-decoration:none; margin:0; padding:61px 0 0 0; }
#header ul li a:hover{ width:104px; height:35px; display:block; background:#FCFAE6; color:#2E4E00; text-decoration:none;color:#F96A02;}
#header ul li span a{width:104px; height:35px; display:block; background:url(../images/menu-devider1.gif) 100% 0 no-repeat #FCFAE6; color:green; text-decoration:none; padding:61px 0 0 0; line-height:14px;}
/* 容器盒子#FCFAE6 */
 .container {
	width:960px;
	margin:0 auto;
	background-position: 0px 0px;
	
}
/*页面主体*/
.pagebody {
	width:960px;
	height:auto;
	margin-top:10px;
	overflow:hidden;
	padding-top:5px;
	padding-bottom:20px;
	margin-left:5px;
	margin-right:5px;
	background-color:#F5F3DF;
	/*background-color:#EBFFC0;
	*/
	margin:0 auto;
}
/*页面左侧*/
.leftpage {
	background-color:#FCFAE6;
	margin-left:5px;
	width:685px;
   float:left;
	  padding-top: 5px;
	
}
.ance {
	float:left;
	width:650px;
	margin-left:5px;
	margin-right:5px;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:20px;
	border:#B1CF28 dashed 1px;
	background:url("../Images/notice-icon.png") no-repeat left;
}
.updow {
	float:left;
	width:665px;
	margin-left:5px;
	margin-right:5px;
	padding:5px;
}
.up {
	float:left;
}
.down {
	float:right;
}
/*页面右侧*/
.info {
	float:left;
	width:675px;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	margin-bottom:10px;
	/*border:red solid 1px;
	*/
}

.postinfo {
	float:left;
	width:675px;
}
.date {
	float:left;
	width:50px;
	height:55px;
	background:url(../Images/date.gif) no-repeat;
}
.listimg {
	float:left;
	width:50px;
	height:55px;
	margin-right:5px;
	
}
.date .t {
	float:left;
	width:50px;
	text-align:center;
	color:#F96A02;
	font-weight:bold;
	padding-top:3px;
	padding-left:4px;
}
.date .d {
	float:left;
	width:50px;
	text-align:center;
	font-size:16px;
	color:#6C0;
	padding-left:3px;
}
.title {
	float:left;
	width:615px;
	font-size:18px;
	padding-top:5px;
	padding-left:5px;
}
.tinfo {
	float:left;
	width:615px;
	font-size:12px;
	padding-left:5px;
}
.author {
	float:left;
	color:#2E4E00;
	/*width:100px;
	*/

 margin-right:5px;
}
.cat {
	float:left;
	margin-right:5px;
	color:#2E4E00;
}
.brownum {
	float:left;
	margin-right:250px;
	color:#2E4E00;
}
.comnum {
	float:left;
	color:#2E4E00;
}
.line {
	float:left;
	width:620px;
	height:1px;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#CCE0C2;
}
.post {
	float:left;
	width:673px;
	line-height:25px;
	/*clear:both;

	
	padding:1px;*/
	/*行间距*/
 font-size:14px;
	color:#002200;
}
.tag {
	float:left;
	width:480px;
}
.rela {
	float:left;
	width:675px;
	margin-left:5px;
	margin-right:5px;
	padding-bottom:30px;
}
.rela:hover {
	background-color:#f5f5dc;
}
.rela .title {
	float:left;
	width:675px;
	font-size:14px;
}
.relainfo {
	float:left;
	width:675px;
	font-size:12px;
}
.relainfo li {
	float:left;
	width:307px;
	font-size:12px;
	margin-left:15px;
}
.comment {
	float:left;
	width:675px;
	margin-left:5px;
	margin-right:5px;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#CCE0C2;
}
.comment li {
	margin-bottom:5px;
}

.cominfo {
	float:left;
	width:675px;
}
.comtit {
	float:left;
	width:675px;
	font-weight:bold;
	font-size:16px;
	padding-top:5px;
	padding-bottom:10px;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#B1CF28;
}
.recommet {
	float:left;
	width:668px;
	border:green dashed 1px;
	padding-left:5px;
	margin-top:5px;
}
.recommet li {
	width:650px;
}
.recommet:hover {
	background-color:#ffffff;
}
.rcomment {
	float:left;
	width:673px;
	margin-left:5px;
	margin-right:5px;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#CCE0C2;
	background-color: #FFF
}
.ly{margin-left:30px;}

.ly a:link {
	color:#999;
}
.ly a:hover {
	color:#F96A02;
}
.cominfo .reply {
	float:left;
	width:15px;
	height:12px;
	background:url(../Images/quote-bg.png) no-repeat;
	
}
.rcominfo {
	float:left;
	width:648px;
	margin-left: 25px;

}
.line10 {
	float:left;
	width:675px;
	height:10px;
}
.line5 {
	float:left;
	width:675px;
	height:5px;
}
/**
 +------------------------------------------------------------------------------
 * 分页样式
 +------------------------------------------------------------------------------
 * @subpackage  pages
 +------------------------------------------------------------------------------
 */
.pages {
	float:left;
	width:675px;
	margin-left:5px;
	margin-right:5px;
	margin-top:20px;
	border-top-style:dashed;
	border-top-width:1px;
	border-top-color:#B1CF28;
	padding-top:10px;
	padding-bottom:10px;
}
.page {
	PADDING-RIGHT:3px;
	PADDING-LEFT:3px;
	PADDING-BOTTOM:3px;
	MARGIN:3px;
	PADDING-TOP:3px;
	TEXT-ALIGN:center
}
.page A {
	BORDER-RIGHT:#B1CF28 1px solid;
	PADDING-RIGHT:5px;
	BORDER-TOP:#B1CF28 1px solid;
	PADDING-LEFT:5px;
	 PADDING-BOTTOM:2px;
	BORDER-LEFT:#B1CF28 1px solid;
	COLOR:#D64700;
	MARGIN-RIGHT:2px;
	PADDING-TOP:2px;
	BORDER-BOTTOM:#B1CF28 1px solid;
	TEXT-DECORATION:none
}
.page A:hover {
	BORDER-RIGHT:#B1CF28 1px solid;
	BORDER-TOP:#B1CF28 1px solid;
	BACKGROUND:#EBFFC0;
	BORDER-LEFT:#B1CF28 1px solid;
	COLOR:#D64700;
	BORDER-BOTTOM:#B1CF28 1px solid
}
.page A:active {
	BORDER-RIGHT:#aad83e 1px solid;
	BORDER-TOP:#aad83e 1px solid;
	 BORDER-LEFT:#aad83e 1px solid;
	COLOR:#D64700;
	BORDER-BOTTOM:#aad83e 1px solid
}
.page SPAN.current {
	BORDER-RIGHT:#aad83e 1px solid;
	PADDING-RIGHT:5px;
	BORDER-TOP:#aad83e 1px solid;
	PADDING-LEFT:5px;
	FONT-WEIGHT:bold;
	background-color:#76822E;
	PADDING-BOTTOM:2px;
	BORDER-LEFT:#aad83e 1px solid;
	COLOR:#FFFFFF;
	MARGIN-RIGHT:2px;
	PADDING-TOP:2px;
	BORDER-BOTTOM:#aad83e 1px solid
}
.page SPAN.disabled {
	BORDER-RIGHT:#f3f3f3 1px solid;
	PADDING-RIGHT:5px;
	BORDER-TOP:#f3f3f3 1px solid;
	PADDING-LEFT:5px;
	PADDING-BOTTOM:2px;
	BORDER-LEFT:#f3f3f3 1px solid;
	COLOR:#ccc;
	MARGIN-RIGHT:2px;
	PADDING-TOP:2px;
	BORDER-BOTTOM:#f3f3f3 1px solid;
	background-color:#EBFFC0;
}
.mainpage {
	}
/**
 +------------------------------------------------------------------------------
 * 主页右栏样式
 +------------------------------------------------------------------------------
 * @subpackage  pages
 +------------------------------------------------------------------------------
 */
.rightpage {
	width:255px;
  float:right;
  padding-top: 5px;
  padding-left: 5px;
	background-color:#F9FEF9;
	margin-right:5px;
}
/**
 +------------------------------------------------------------------------------
 * 搜索样式
 +------------------------------------------------------------------------------
 * @subpackage  search
 +------------------------------------------------------------------------------
 */
.search { float:right; margin:0; padding:5px 0 0 0; width:255px;}
.search form { padding:0; margin:0; }
.search span { display:block; float:left; background:#fff; border:1px solid #B1CF28; padding:5 10px;  margin:0;height:28px;text-align:center;}
.search form .keywords { background:green;width:190px; line-height:20px; height:20px; float:left; background:none; border:0; padding:2px 0px; margin-left:15px; font:normal 11px Arial, Helvetica, sans-serif; color:#767676; }
.search form .button { float:left; margin:0; padding:3px 0 0 0; border:0; position:relative; }
.l_tit {
	width:255px;
	float:right;
	line-height:18px;
	height:18px;
	font-weight:bold;
	padding-top: 2px;
	font-size:13px;
  color:#498949;
	background-color:#F5F3DF;
	margin-bottom:5px;
}
/**
 +------------------------------------------------------------------------------
 * 广告样式
 +------------------------------------------------------------------------------
 * @subpackage  banner
 +------------------------------------------------------------------------------
 */
.banner {
	width:255px;
	float:right;
	margin-bottom:10px;
}
.banner li {
	width:255px;
	float:left;
}
.banner img {
	width:250px;
}
/**
 +------------------------------------------------------------------------------
 * 右栏box样式
 +------------------------------------------------------------------------------
 * @subpackage  box
 +------------------------------------------------------------------------------
 */
.about,.tags,.share,.month,.catlist,.rand,.total,.ncoments {
	width:255px;
	float:right;
	margin-bottom:10px;
	font-size:12px;
}
.ncoments {
	width:255px;
	float:left;
	margin-bottom:10px;
}
.ncoments ul {
   color:#2E4E00;
   padding-left:5px;
	float:left;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:#EEEEEE;
	font-size:12px;
}
.ncoments ul li {
	width:250px;
	float:left;
}
.ncoments ul li span{
	background:url("../Images/jiao.png") no-repeat left;
	height:15px;
	width:15px;
}
.catlist li {
	color:#2E4E00;
   padding-left:15px;
	line-height:25px;
	height:25px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:#EEEEEE;
}
.month li,.tags li,.rand li {
   color:#2E4E00;
	background:url("../Images/icon.gif") no-repeat left;
   padding-left:5px;
	line-height:25px;
	height:25px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:#EEEEEE;
	font-size:12px;
}
.rightpage .tags{padding-left:3px;padding-right:5px;}
.month li:hover,.tags li:hover,.total li:hover,.catlist li:hover,.rand li:hover {
	background:#FBFFE4 url("../Images/icon2.gif") no-repeat left;
	/*background-color:#FBFFE4;*/
}
.ncoments ul:hover {
	background:#FBFFE4 ;
	/*background-color:#FBFFE4;*/
}
/*站点统计*/

.total li {
	color:#2E4E00;
   padding-left:10px;
	line-height:25px;
	height:25px;
	font-size:12px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:#EEEEEE;
}
.taglist {
	float:left;
	width:675px;
}
.taglist span {
	float:left;
	width:129px;
	height:20px;
	line-height:20px;
	border:green dashed 1px;
	margin:2px;
	text-align:center;
}

.links {
	width:255px;
	float:right;
	margin-bottom:10px;
}
.links li {
	float:left;
	width:118px;
	height:24px;
	line-height:24px;
	border:#B1CF28 dashed 1px;
	margin:2px;
	text-align:center;
}
.links li:hover {
	color:#D64700;
	background-color:#EBFFC0;
}
/**
 +------------------------------------------------------------------------------
 * 底部
 +------------------------------------------------------------------------------
 * @subpackage  banner
 +------------------------------------------------------------------------------
 */
#footer {
     height:80px;
	 width:960px;  
	 margin:0 auto;
	  background:url(../images/menu-devider.gif) 0 0 repeat-x #F4F1DD;
	  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding-top:10px;
	  }


#bottom {
	
	 width:960px; 
	 height:10px; 
	 margin:0 auto;
	  
	  
	  }