BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 20px; FONT: 75%/150% "Trebuchet MS", Tahoma, Arial; COLOR: #000; PADDING-TOP: 0px
}
A {
	COLOR: #cc6600; TEXT-DECORATION: none
}
A:visited {
	COLOR: #cc6600; TEXT-DECORATION: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: bold 36px/100% "Trebuchet MS", Tahoma, Arial; TEXT-ALIGN: right
}
H1 A {
	COLOR: #000; TEXT-DECORATION: none
}
H1 A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
H2 {
	MARGIN: 0px; FONT: 190%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #59770e; LETTER-SPACING: -1px
}
H2 A {
	COLOR: #59770e; TEXT-DECORATION: none
}
H2 A:visited {
	COLOR: #59770e; TEXT-DECORATION: none
}
H3 {
	MARGIN: 10px 0px 5px; FONT: 140%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #758d38
}
H4 {
	MARGIN: 10px 0px 5px; FONT: 130%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #758d38
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#header {
	BORDER-BOTTOM: #59780a 3px solid
}
#headerimg {
	WIDTH: auto
}
#headerimg .description {
	FONT-SIZE: 14px; PADDING-BOTTOM: 3px; COLOR: #666666; TEXT-ALIGN: right
}
#nav {
	DISPLAY: none
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; WIDTH: 100%; PADDING-TOP: 10px
}
.post {
	CLEAR: both; PADDING-TOP: 10px
}
.post-date {
	FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #666666
}
.post-cat {
	FONT-SIZE: 95%; FLOAT: left
}
.post-comments {
	FONT-SIZE: 95%; FLOAT: right
}
.post-calendar {
	FONT-SIZE: 95%; FLOAT: right
}
.post-content {
	CLEAR: both; PADDING-TOP: 10px
}
.navigation {
	CLEAR: both; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 10px
}
.navigation A {
	COLOR: #59770e
}
.navigation A:visited {
	COLOR: #59770e
}
.previous-entries {
	FLOAT: left
}
.next-entries {
	FLOAT: right
}
#comments {
	DISPLAY: none
}
#respond {
	DISPLAY: none
}
.commentlist {
	PADDING-LEFT: 20px; MARGIN: 10px 0px; LINE-HEIGHT: 130%
}
.commentlist LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.commentlist .alt {
	BACKGROUND: #f1fedb
}
.commentlist CITE {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #cc6600; FONT-STYLE: normal
}
.commentlist CITE A {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #cc6600; FONT-STYLE: normal
}
.commentlist CITE A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #cc6600; FONT-STYLE: normal
}
.commentlist SMALL {
	DISPLAY: block; FONT-SIZE: 87%; MARGIN-BOTTOM: 5px
}
#commentform {
	DISPLAY: none
}
#sidebar {
	DISPLAY: none
}
#searchform {
	DISPLAY: none
}
#footer {
	DISPLAY: none
}
#credits {
	DISPLAY: none
}
.center {
	TEXT-ALIGN: center
}
IMG.center {
	DISPLAY: block; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
A IMG.center {
	DISPLAY: block; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.alignleft {
	FLOAT: left
}
IMG.alignleft {
	FLOAT: left; MARGIN: 4px 10px 5px 0px
}
A IMG.alignleft {
	FLOAT: left; MARGIN: 4px 10px 5px 0px
}
.alignright {
	FLOAT: right
}
IMG.alignright {
	FLOAT: right; MARGIN: 4px 10px 5px 0px
}
A IMG.alignright {
	FLOAT: right; MARGIN: 4px 10px 5px 0px
}
.clear {
	CLEAR: both
}
HR.clear {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
