BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/Public/images/main-bg.gif) #ffffff; PADDING-BOTTOM: 40px; MARGIN: 0px; FONT: 75%/150% "Trebuchet MS", Tahoma, Arial; COLOR: #333333; PADDING-TOP: 0px
}
A {
	COLOR: #cc6600; TEXT-DECORATION: none
}
A:visited {
	COLOR: #cc6633; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-LEFT: 70px; BACKGROUND: url(/Public/images/header-icon.gif) no-repeat; MARGIN: 0px; FONT: bold 36px/100% "Trebuchet MS", Tahoma, Arial; COLOR: #c9eefe; HEIGHT: 60px
}
H1 A {
	COLOR: #c9eefe; TEXT-DECORATION: none
}
H1 A:visited {
	COLOR: #c9eefe; TEXT-DECORATION: none
}
H1 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
H2 {
	PADDING-BOTTOM: 3px; MARGIN: 0px 0px 2px; FONT: 190%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #59770e; BORDER-BOTTOM: #cccccc 1px dotted; LETTER-SPACING: -1px
}
H2 A {
	COLOR: #59770e; TEXT-DECORATION: none
}
H2 A:visited {
	COLOR: #59770e; TEXT-DECORATION: none
}
H2 A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
H3 {
	MARGIN: 10px 0px 5px; FONT: 140%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #758d38
}
H4 {
	MARGIN: 10px 0px 5px; FONT: 130%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #758d38
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#page {
	 BACKGROUND: url(/Public/images/content-bg.gif) #ffffff repeat-y; MARGIN: 0px auto; WIDTH: 760px;
}
#header {
	BACKGROUND: url(/Public/images/header-bg.jpg) #0facea no-repeat; BORDER-BOTTOM: #59780a 1px solid; POSITION: relative; HEIGHT: 170px
}
#headerimg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; PADDING-BOTTOM: 0px; PADDING-TOP: 30px; POSITION: relative; HEIGHT: 60px
}
#headerimg .description {
	FONT-SIZE: 14px; LEFT: 110px; COLOR: #c9eefe; BOTTOM: 3px; POSITION: absolute
}
#nav {
	left: 10px; MARGIN: 0px; BOTTOM: 0px; LIST-STYLE-TYPE: none; POSITION: absolute
}
#nav LI {
	FLOAT: left; MARGIN-LEFT: 5px
}
#nav .current_page_item A {
	COLOR: #000000; TEXT-DECORATION: none
}
#nav .current_page_item A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#nav .page_item A {
	BORDER-RIGHT: #afcd69 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e6eed0 1px solid; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(/Public/images/nav-button-bg.gif) #5c8d0c repeat-x; PADDING-BOTTOM: 5px; FONT: bold 14px/100% Arial, Helvetica, sans-serif; BORDER-LEFT: #afcd69 1px solid; COLOR: #ffffff; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#nav .page_item A:hover {
	COLOR: #000000
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; FLOAT: left; PADDING-BOTTOM: 30px; OVERFLOW: hidden; WIDTH: 492px; PADDING-TOP: 10px
}
.post {
	CLEAR: both; PADDING-TOP: 10px
}
.post-date {
	BACKGROUND: url(/Public/images/date-bg.gif) no-repeat; FLOAT: left; WIDTH: 45px; HEIGHT: 49px
}
.post-month {
	DISPLAY: block; FONT-SIZE: 11px; MARGIN-LEFT: -3px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; LINE-HEIGHT: 11px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.post-day {
	DISPLAY: block; FONT-SIZE: 18px; MARGIN-LEFT: -3px; TEXT-TRANSFORM: uppercase; COLOR: #999999; LINE-HEIGHT: 18px; PADDING-TOP: 7px; TEXT-ALIGN: center
}
.entry {
	FLOAT: right; WIDTH: 438px
}
.post-cat {
	PADDING-LEFT: 20px; FONT-SIZE: 95%; BACKGROUND: url(/Public/images/mini-category.gif) no-repeat left center; FLOAT: left; COLOR: #999999
}
.post-comments {
	PADDING-LEFT: 20px; FONT-SIZE: 95%; BACKGROUND: url(/Public/images/mini-comments.gif) no-repeat left center; FLOAT: right
}
.post-calendar {
	PADDING-LEFT: 20px; FONT-SIZE: 95%; BACKGROUND: url(/Public/images/mini-calendar.gif) no-repeat left center; FLOAT: right; COLOR: #999999
}
.post-content {
	CLEAR: both; PADDING-TOP: 10px
}
.navigation {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.navigation A {
	COLOR: #59770e
}
.navigation A:visited {
	COLOR: #59770e
}
.previous-entries A {
	PADDING-LEFT: 18px; BACKGROUND: url(/Public/images/mini-nav-left.gif) no-repeat left center; FLOAT: left
}
.next-entries A {
	PADDING-RIGHT: 18px; BACKGROUND: url(/Public/images/mini-nav-right.gif) no-repeat right center; FLOAT: right
}
#comments {
	PADDING-BOTTOM: 5px; BORDER-BOTTOM: #cccccc 1px dotted
}
#respond {
	PADDING-BOTTOM: 5px; BORDER-BOTTOM: #cccccc 1px dotted
}
.commentlist {
	PADDING-LEFT: 20px; MARGIN: 10px 0px; LINE-HEIGHT: 130%
}
.commentlist LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.commentlist .alt {
	BACKGROUND: #f1fedb
}
.commentlist CITE {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #cc6600; FONT-STYLE: normal
}
.commentlist CITE A {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #cc6600; FONT-STYLE: normal
}
.commentlist CITE A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #cc6600; FONT-STYLE: normal
}
.commentlist SMALL {
	DISPLAY: block; FONT-SIZE: 87%; MARGIN-BOTTOM: 5px
}
#commentform {
	MARGIN-TOP: 10px; FONT: 110% Arial, Helvetica, sans-serif
}
#commentform P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 6px
}
#commentform LABEL {
	FONT-SIZE: 87%; COLOR: #787878
}
#commentform INPUT {
	BORDER-RIGHT: #bdd77f 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #bdd77f 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 3px; BACKGROUND: #f1fedb; PADDING-BOTTOM: 3px; BORDER-LEFT: #bdd77f 1px solid; WIDTH: 200px; PADDING-TOP: 3px; BORDER-BOTTOM: #bdd77f 1px solid
}
#commentform TEXTAREA {
	BORDER-RIGHT: #bdd77f 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bdd77f 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 2px; BACKGROUND: #f1fedb; PADDING-BOTTOM: 2px; BORDER-LEFT: #bdd77f 1px solid; WIDTH: 485px; PADDING-TOP: 2px; BORDER-BOTTOM: #bdd77f 1px solid; HEIGHT: 115px
}
UNKNOWN {
	BACKGROUND: #ffffff
}
#commentform #submit {
	BACKGROUND: url(/Public/images/btn-bg.gif) no-repeat; FLOAT: right; FONT: bold 12px Arial, Helvetica, sans-serif; WIDTH: 144px; CURSOR: pointer; COLOR: #ffffff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 28px; BORDER-BOTTOM-STYLE: none
}
#sidebar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 220px; COLOR: #666666; PADDING-TOP: 0px
}
#sidebar H2 {
	MARGIN: 20px 0px 2px; FONT: 140%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #758d38; BORDER-BOTTOM: #cfe1ac 1px solid
}
#sidebar .sidebartitle {
	MARGIN: 10px 0px 2px; FONT: 140%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #758d38; BORDER-BOTTOM: #cfe1ac 1px solid
}
#sidebar A {
	COLOR: #495233; TEXT-DECORATION: none
}
#sidebar A:visited {
	COLOR: #495233; TEXT-DECORATION: none
}
#sidebar A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
#sidebar UL LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar UL LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #dceeb7 1px solid
}
#sidebar UL LI UL LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; BORDER-TOP-STYLE: none; PADDING-TOP: 1px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL.list-blogroll LI {
	PADDING-LEFT: 16px! important; BACKGROUND: url(/Public/images/mini-blogroll.gif) no-repeat
}
UL.list-cat LI {
	PADDING-LEFT: 20px! important; BACKGROUND: url(/Public/images/mini-category.gif) no-repeat
}
LI.widget_categories LI {
	PADDING-LEFT: 20px! important; BACKGROUND: url(/Public/images/mini-category.gif) no-repeat
}
UL.list-archives LI {
	PADDING-LEFT: 20px! important; BACKGROUND: url(/Public/images/mini-monthly-archive.gif) no-repeat
}
LI.widget_archives LI {
	PADDING-LEFT: 20px! important; BACKGROUND: url(/Public/images/mini-monthly-archive.gif) no-repeat
}
UL.list-page LI {
	PADDING-LEFT: 20px! important; BACKGROUND: url(/Public/images/mini-page.gif) no-repeat
}
LI.widget_pages LI {
	PADDING-LEFT: 20px! important; BACKGROUND: url(/Public/images/mini-page.gif) no-repeat
}
LI.widget_recent_entries LI {
	PADDING-LEFT: 20px! important; BACKGROUND: url(/Public/images/mini-page.gif) no-repeat
}
UL.list-page LI UL LI {
	PADDING-LEFT: 10px! important; BACKGROUND: url(/Public/images/mini-page-arrow.gif) no-repeat
}
LI.widget_pages LI UL LI {
	PADDING-LEFT: 10px! important; BACKGROUND: url(/Public/images/mini-page-arrow.gif) no-repeat
}
LI.widget_recent_comments LI {
	PADDING-LEFT: 20px! important; BACKGROUND: url(/Public/images/mini-recent-comments.gif) no-repeat
}
LI.widget_calendar TD {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.textwidget {
	PADDING-TOP: 5px
}
#searchform {
	MARGIN: 15px 0px 0px
}
#searchform BR {
	DISPLAY: none
}
#searchform #s {
	BORDER-RIGHT: #bed881 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #bed881 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #bed881 1px solid; WIDTH: 135px; COLOR: #000000; MARGIN-RIGHT: 2px; PADDING-TOP: 4px; BORDER-BOTTOM: #bed881 1px solid; HEIGHT: 22px
}
#searchform INPUT {
	BACKGROUND: url(/Public/images/search-btn-bg.gif) no-repeat; FONT: bold 12px Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; WIDTH: 67px; COLOR: #ffffff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 26px; BORDER-BOTTOM-STYLE: none
}
#footer {
	CLEAR: both; FONT-SIZE: 95%; BACKGROUND: url(/Public/images/footer-bg.gif) #048db4 no-repeat; COLOR: #acd7ee; LINE-HEIGHT: 130%
}
#footer A {
	COLOR: #ffffff
}
#footer A:visited {
	COLOR: #ffffff
}
#footer .left-col {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 240px
}
#footer .right-col {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(/Public/images/footer-right-bg.gif) no-repeat; FLOAT: right; WIDTH: 220px
}
#footer H4 {
	MARGIN: 10px 0px 5px; FONT: 146%/100% "Trebuchet MS", Tahoma, Arial; COLOR: #9cdbfb
}
.recently-commented {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 92%; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 110%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.recently-commented LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/Public/images/mini-footer-comments.gif) no-repeat; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.recently-commented A {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; LINE-HEIGHT: 130%
}
.recent-posts {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 92%; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 110%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.recent-posts LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/Public/images/mini-footer-post.gif) no-repeat; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.recent-posts A {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; LINE-HEIGHT: 130%
}
#credits {
	FONT-SIZE: 85%; MARGIN: 0px auto; WIDTH: 760px; COLOR: #7a9299; LINE-HEIGHT: 120%
}
#credits A {
	COLOR: #048db4
}
#credit A:visited {
	COLOR: #048db4
}
.rss {
	PADDING-LEFT: 18px; BACKGROUND: url(/Public/images/mini-rss.gif) no-repeat left center; PADDING-BOTTOM: 2px; MARGIN-LEFT: 8px
}
.loginout {
	PADDING-LEFT: 18px; BACKGROUND: url(/Public/images/mini-loginout.gif) no-repeat left center; PADDING-BOTTOM: 2px; MARGIN-LEFT: 8px
}
.center {
	TEXT-ALIGN: center
}
IMG.center {
	BORDER-RIGHT: #d5e6ac 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d5e6ac 1px solid; DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; MARGIN-LEFT: auto; BORDER-LEFT: #d5e6ac 1px solid; MARGIN-RIGHT: auto; PADDING-TOP: 3px; BORDER-BOTTOM: #d5e6ac 1px solid
}
A IMG.center {
	BORDER-RIGHT: #d5e6ac 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d5e6ac 1px solid; DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; MARGIN-LEFT: auto; BORDER-LEFT: #d5e6ac 1px solid; MARGIN-RIGHT: auto; PADDING-TOP: 3px; BORDER-BOTTOM: #d5e6ac 1px solid
}
A:hover IMG.center {
	BORDER-LEFT-COLOR: #ff6600; BACKGROUND: #ff6600; BORDER-BOTTOM-COLOR: #ff6600; BORDER-TOP-COLOR: #ff6600; BORDER-RIGHT-COLOR: #ff6600
}
.alignleft {
	FLOAT: left
}
IMG.alignleft {
	BORDER-RIGHT: #d5e6ac 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d5e6ac 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ffffff; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 4px 10px 5px 0px; BORDER-LEFT: #d5e6ac 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d5e6ac 1px solid
}
A IMG.alignleft {
	BORDER-RIGHT: #d5e6ac 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d5e6ac 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ffffff; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 4px 10px 5px 0px; BORDER-LEFT: #d5e6ac 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d5e6ac 1px solid
}
A:hover IMG.alignleft {
	BORDER-LEFT-COLOR: #ff6600; BACKGROUND: #ff6600; BORDER-BOTTOM-COLOR: #ff6600; BORDER-TOP-COLOR: #ff6600; BORDER-RIGHT-COLOR: #ff6600
}
.alignright {
	FLOAT: right
}
IMG.alignright {
	BORDER-RIGHT: #d5e6ac 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d5e6ac 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ffffff; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 4px 10px 5px 0px; BORDER-LEFT: #d5e6ac 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d5e6ac 1px solid
}
A IMG.alignright {
	BORDER-RIGHT: #d5e6ac 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d5e6ac 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ffffff; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 4px 10px 5px 0px; BORDER-LEFT: #d5e6ac 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d5e6ac 1px solid
}
A:hover IMG.alignright {
	BORDER-LEFT-COLOR: #ff6600; BACKGROUND: #ff6600; BORDER-BOTTOM-COLOR: #ff6600; BORDER-TOP-COLOR: #ff6600; BORDER-RIGHT-COLOR: #ff6600
}
.clear {
	CLEAR: both
}
HR.clear {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
