<include file="Public:header" />
<div id="page">
	<div id="leftcol"> 
			<volist name="category" id="level1" key="key">	
				<if condition=" ( $level1['status'] == 1 ) && ( $level1['nav'] == 'nav' )">            
						<if condition="($level1['level'] == 1)">
						<h3>{$level1.name}</h3>
						<?php $tmppid = $level1['id'];?>
						</if>				
						<if condition="($level1['level'] == 2) && ($level1['pid'] == $tmppid)">
						<a href="{$level1.url}" target="_top">{$level1.name}</a><br>
						</if>
				</if>
			</volist>						
	</div>
	<div id="maincol">		        
		        <div id="content">
                <h1 class="title">{$vo.title}</h1>
                <p class="tinfo">
                    <span class="time" title="发布日期">{$vo.create_time|date=C('DEFAULT_DATE_FORMAT'),###}</span>
                    <span class="d_line">/</span>
                    <span class="author" title="作者">{$vo.author|getAuthorName}</span>
                    <span class="d_line">/</span>
                    <span class="click" title="围观">{$vo.click}</span>
                    <span class="d_line">/</span>
                    <span class="comment" title="评论">{$vo.count}</span>
                    <span class="d_line">/</span>
                    <span class="category" title="目录类别">{$vo.cid|getCategoryName}</span>
                </p>
                <p class="share">
                    <a href="javascript:;" onClick="share.doShare('t_sina');" id="weibo" title="分享到新浪微博"></a>
                    <a href="javascript:;" onClick="share.doShare('qzone');" id="QQ_space" title="分享到QQ空间"></a>
                    <a href="javascript:;" onClick="share.doShare('t_qq');" id="QQ_weibo" title="分享到腾讯微博"></a>
                    <a href="javascript:;" onClick="share.doShare('renren');" id="renren" title="分享到人人网"></a>
                    <a href="javascript:;" onClick="share.doShare('msn');" id="msn" title="分享到MSN"></a>
                    <a href="javascript:;" onClick="share.doShare('douban');" id="douban" title="分享到豆瓣"></a>
                    <a href="javascript:;" onClick="share.doShare('twitter');" id="twitter" title="分享到Twitter"></a>
                    <a href="javascript:;" onClick="share.doShare('digg');" id="digg" title="分享到Digg"></a>
                    <a href="javascript:;" onClick="share.doShare('vimeo');" id="vimeo" title="分享到Vimeo"></a>
                    <a href="javascript:;" onClick="share.doShare('skype');" id="skyp" title="分享到Skype"></a>
                    <a href="javascript:;" onClick="share.doShare('facebook');" id="facebook" title="分享到Facebook"></a>
                    <a href="javascript:;" onClick="share.doShare('neteasy_weibo');" id="wy_weibo" title="分享到网易微博"></a>
                    <a href="javascript:;" onClick="share.doShare('rss');" id="rss" title="RSS"></a>
                    <a href="javascript:;" onClick="share.doShare('kaixin');" id="kaixin" title="分享到开心网"></a>
                </p>
                <div class="li">
                    <?php
                        $content = str_replace( '[separator]', '', $vo['content'] );
                        echo $content;
                    ?>
                </div>
                {:addFreeWidget('ViewsAdmin',array('page'=>'views','id'=>$vo['id'],'cid'=>$vo['cid'],'type'=>$vo['type']))}
                <include file="Public:comment" />
            </div>
	</div>
	<div style="clear:both;"></div>
</div>
<include file="Public:footer" />